[2018-09-14 08:18] zxdong262 opened #1 "init"
- [x] init extension done
- [x] click to call done
- [x] inbound to popup done
- [x] add call with ringcentral button to call tab
- [ ] sync call log to hubspot custom record - cannot be done yet
- [x] add call button to contact list
- [ ] sync contacts to rc-widgets - cannot be done yet

[2018-09-18 01:09] zxdong262 commented on #1
done

[2018-09-18 01:09] #1 closed

[2018-09-18 02:37] zxdong262 opened #3 "sync contacts to rs widgets with hubspot app"
- [ ] sync to rc button
- [ ] auth work flow
- [ ] get contacts api

[2018-09-18 02:50] zxdong262 opened #6 "cover the phone numbers"

[2018-09-18 05:55] zxdong262 opened #7 "add logos"

[2018-09-19 09:43] #3 closed

[2018-09-20 00:38] #6 closed

[2018-09-20 01:08] #7 closed

[2018-09-20 01:10] zxdong262 opened #12 "respond to search/match event"

[2018-09-20 03:00] zxdong262 opened #13 "Call log sync support"
Hubspot will support call log api in the future.

[2018-09-20 03:17] zxdong262 opened #14 "Add email info to contacts"

[2018-09-20 03:32] #12 closed

[2018-09-20 03:37] zxdong262 opened #16 "Cache contacts"
for a minutes maybe

[2018-09-20 04:42] #16 closed

[2018-09-20 09:28] zxdong262 opened #18 "fix screenshot"

[2018-09-20 09:39] #18 closed

[2018-09-20 13:15] zxdong262 opened #20 "Adjust widgets position, make sure it do not cover the help icon"

[2018-09-20 13:18] zxdong262 opened #21 "All html modification behaviors configable"
the hover to show call button, insert call button.

[2018-09-20 14:00] #20 closed

[2018-09-20 23:40] zxdong262 opened #23 "Use official icon"

[2018-09-20 23:43] zxdong262 opened #24 "Test more phone number format"

[2018-09-20 23:58] zxdong262 opened #25 "Hover click-to-dial button need to be better positioned"

[2018-09-21 01:31] zxdong262 opened #26 "Edit the demo video"

[2018-09-21 01:54] zxdong262 opened #27 "Pupop user profile when call in"

[2018-09-21 01:59] grokify opened #28 "Add HubSpot Contacts integration"
Add custom contacts integration the using HubSpot contacts API per the section "Contacts Integration" in the blog article below:

https://medium.com/ringcentral-developers/custom-extensions-for-the-ringcentral-embeddable-voice-web-widget-f7730ea882b1

This way when an incoming call comes in, the user's HubSpot name will show up in the inbound call screen.

![](https://cdn-images-1.medium.com/max/1

[2018-09-21 02:45] zxdong262 opened #29 "Inbound call do not show correct contact name"

[2018-09-21 02:45] zxdong262 commented on #28
Already done, should be this problem: https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/issues/29

[2018-09-21 02:46] #28 closed

[2018-09-25 02:46] zxdong262 opened #31 "Save refresh token"

[2018-09-25 06:44] #31 closed

[2018-09-25 08:33] #25 closed

[2018-09-26 00:51] #21 closed

[2018-09-26 00:57] zxdong262 opened #35 "Fix auth save"

[2018-09-26 01:03] #35 closed

[2018-09-26 03:46] zxdong262 commented on #29
done by nux

[2018-09-26 03:46] #29 closed

[2018-09-26 05:53] zxdong262 opened #37 "Ref undefined bug"

[2018-09-26 06:06] #37 closed

[2018-09-26 06:08] zxdong262 opened #39 "The popup timing is not good enough"

[2018-09-26 06:50] #39 closed

[2018-09-26 06:54] zxdong262 opened #41 "Remove my own secret/key"

[2018-09-26 07:56] #41 closed

[2018-09-26 07:56] zxdong262 opened #43 "Publish to private for test"

[2018-09-26 07:57] zxdong262 opened #44 "New screenshots"

[2018-09-26 08:24] zxdong262 opened #45 "Match rule update"

[2018-09-26 08:35] zxdong262 opened #46 "Work in standalone page"

[2018-09-26 08:45] #45 closed

[2018-09-26 08:51] zxdong262 commented on #43
done

[2018-09-26 08:51] #43 closed

[2018-09-26 09:01] zxdong262 opened #48 "More info about app redirect/setting"

[2018-09-26 09:08] #48 closed

[2018-09-27 05:57] zxdong262 opened #50 "Tokens saving not working"

[2018-09-27 06:08] zxdong262 opened #51 "Contact info popup do not close proper"

[2018-09-27 06:35] #50 closed

[2018-09-27 06:40] zxdong262 commented on #51
https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/commit/abf95d2017779bd23720e17088e750119227b71c

[2018-09-27 06:40] #51 closed

[2018-09-27 06:47] zxdong262 opened #53 "Add link to cli tool"

[2018-09-27 06:52] zxdong262 opened #54 "Add chrome local storage clear function"

[2018-09-27 07:17] #54 closed

[2018-09-27 07:42] zxdong262 opened #57 "Do not print findParent error"

[2018-09-27 08:53] zxdong262 opened #58 "Contacts pager"
- get all contacts, but feed only limited contacts to rc
- questions: about contact list behavior

[2018-09-27 09:15] zxdong262 opened #59 "Add revoke auth tip"

[2018-09-28 00:38] #59 closed

[2018-09-28 01:43] zxdong262 opened #61 "Use prefix ?"

[2018-09-28 02:04] zxdong262 opened #62 "Use native user info panel"

[2018-09-28 03:03] #62 closed

[2018-09-28 03:03] zxdong262 commented on #61
no need

[2018-09-28 03:03] #61 closed

[2018-09-28 03:07] #57 closed

[2018-09-28 03:20] zxdong262 opened #65 "Do not show in developer page"

[2018-09-28 04:52] zxdong262 opened #66 "Use the hubspot native UI to show contact info"

[2018-09-28 05:00] zxdong262 opened #67 "Add ringcentral embeddable link"

[2018-09-28 05:07] #14 closed

[2018-09-28 05:07] #65 closed

[2018-09-28 05:07] #67 closed

[2018-09-28 06:30] #66 closed

[2018-09-28 08:16] zxdong262 opened #70 "Chrome toolbar icon color is never active"

[2018-09-29 05:27] zxdong262 opened #71 "Use iframe load contact info panel"

[2018-09-29 07:05] #71 closed

[2018-09-29 07:51] #70 closed

[2018-09-29 08:37] zxdong262 opened #74 "Add loading text when loading contact info"

[2018-09-29 08:55] #74 closed

[2018-10-02 19:26] bjsvec opened #76 "trouble with npm start step"
I am a wannabe dev so bear with me.  I really want to try to get this to work and installed Xcode, brew, npm and node and followed the instructions.  I get stuck after running _npm start_ and get the following warning.  I am not able to go to the next step of adding the unpacked extension into Chrome.

WARNING in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).

[2018-10-02 23:18] zxdong262 commented on #76
This warning would not stop building process, in `dist`, is there a  `content.js` created?
If so, just continue the steps.
If not, I may need more info, maybe you could add a screenshot?

[2018-10-03 00:42] bjsvec commented on #76
I just discovered my error.  Somehow I created two similar, but different directories while trying to figure this all out.

![screen shot 2018-10-02 at 5 40 50 pm](https://user-images.githubusercontent.com/43792275/46384384-71a0d980-c66a-11e8-99d4-1dfd00805c3c.png)

Not sure how I managed that, but I did get this working now.  Thank you.

[2018-10-03 15:16] #76 closed

[2018-10-06 02:04] #26 closed

[2018-10-06 02:04] #44 closed

[2018-10-08 08:42] grokify opened #78 "Error: "Insufficient scopes were provided. Please contact the integrator.""
When using my own RingCentral and HubSpot apps, I receive the following error after authenticating and selecting which HubSpot app to use. Is this for HubSpot or RingCentral scopes?

`Insufficient scopes were provided. Please contact the integrator.`

<img width="1202" alt="screen shot 2018-10-08 at 1 41 40 am" src="https://user-images.githubusercontent.com/209872/46599158-59caba80-ca9b-11e8-8cdb-

[2018-10-08 14:37] zxdong262 commented on #78
Basic OAuth functionality, and Read from and write to my: Contacts, is enough, check your config.js, may missing comma, or something else,  cause the clientIDHS did not work, or after change the config.js, you did not mannualy re-run` npm start`

[2018-10-09 06:16] zxdong262 opened #79 "Mobile/other phone number check"
https://devcommunity.ringcentral.com/ringcentraldev/topics/hubspot-api-integration

[2018-10-09 06:18] zxdong262 opened #80 "SSO"
https://devcommunity.ringcentral.com/ringcentraldev/topics/hubspot-api-integration

[2018-10-09 06:19] zxdong262 opened #81 "SMS attachments?"

[2018-10-09 08:07] zxdong262 commented on #79
I know their csrf token now, and I know their api to get all phonenumbers, but it is not very practical: To fetch the contact list, I have to send req for every contact. That is not right.

[2018-10-10 06:59] #13 closed

[2018-10-10 07:29] zxdong262 opened #83 "Sync sms activity to hubspot?"

[2018-10-10 07:49] zxdong262 opened #84 "Screenshots for new features"

[2018-10-10 07:55] zxdong262 opened #85 "Add link to call log page at sync success notification panel"

[2018-10-10 08:27] zxdong262 opened #86 "Update/Add new log select?"

[2018-10-11 00:34] #85 closed

[2018-10-11 00:35] zxdong262 opened #88 "Form for call log sync description"

[2018-10-11 05:37] #88 closed

[2018-10-11 06:10] #79 closed

[2018-10-11 06:14] zxdong262 opened #91 "Hover show click-to-call button support mobile phone"

[2018-10-11 06:15] zxdong262 opened #92 "Click-to-call button insert support mobile number"

[2018-10-11 06:42] zxdong262 opened #93 "Company phone fetch?"

[2018-10-11 08:36] #92 closed

[2018-10-11 09:00] zxdong262 opened #95 "Maybe should use native api, get rid of auth process"

[2018-10-11 16:14] bjsvec commented on #79
That's too bad.  I am evaluating your last release 0.0.23 now and it seems to not want to sync my Hubspot contacts after authorization.  I see the Hubspot dropdown in the RC widget, but no contacts.  I had seen them before on a previous version, but have had to unauthorized and reauthorize and refresh or close/open browser a few times.

[2018-10-11 16:16] bjsvec commented on #79
I also wonder if it is really necessary to sync to the entire contact list.  Since the way I imagine the would typically be used is within Hubspot that already acts as the main phone directory maybe it is only necessary to do a sync/lookup per each outbound or inbound call?

[2018-10-11 23:48] zxdong262 commented on #79
My mistake, their api do have the mobile phone data

[2018-10-11 23:56] zxdong262 commented on #79
@bjsvec
0.0.23 do sync mobile phone, and the auth problem, not happened in my browser, maybe there is some bug I did not find yet. I will try to find it.

[2018-10-12 00:02] bjsvec commented on #79
I'm running MacOS 10.14 and Chrome 69.0.3497.100 (Official Build) (64-bit) for reference.  Let me know if I can help in any way.  I will find the right thread to post some screenshots about it.

[2018-10-12 00:07] bjsvec opened #96 "HubSpot contacts not appearing in RingCentral phone widget"
I'll share a series of screenshots that should demonstrate, but basically After launching Chrome and loading HubSpot I authorize, choose HubSpot account and then look under contacts, but none show up.

![screen shot 2018-10-11 at 5 02 17 pm](https://user-images.githubusercontent.com/43792275/46840429-d8fc0f00-cd77-11e8-8b0e-57351062e4a8.png)

![screen shot 2018-10-11 at 5 02 29 pm](https://user-im

[2018-10-12 00:31] zxdong262 commented on #96
Hi, @bjsvec

Could you post all console logs here? The log may give some hint.

[2018-10-12 00:36] zxdong262 opened #97 "A better pic for video thumb"

[2018-10-12 01:40] bjsvec commented on #96
Let me know if these are what you are after.  From Chrome console copy/pasted.

It worked one time after closing and restarting browser so I have two logs to compare.

[did NOT show HubSpot contacts.txt](https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/files/2471248/did.NOT.show.HubSpot.contacts.txt)
[DID show HubSpot contacts.txt](https://github.com/zxdong262/hubspot-embeddable-r

[2018-10-12 01:48] bjsvec commented on #96
Log when it worked after browser start.

[DID show HubSpot contacts.txt](https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/files/2471266/DID.show.HubSpot.contacts.txt)

[2018-10-12 02:13] zxdong262 commented on #96
Thank you, @bjsvec

I will try to find out the problem.

[2018-10-12 02:42] zxdong262 commented on #96
Hi, @bjsvec

Tried some more situation(logout all etc), can not reproduce the bug, can you give some possible steps to reproduce the bug?

[2018-10-12 02:48] bjsvec commented on #96
It's been intermittent for me.  Here is a third condition when it looks like a list of my HubSpot contacts are there, but I know they are not.  https://youtu.be/CZPA05XH7ew

I'll post again when I catch it not showing the contact list at all.

[2018-10-12 02:52] bjsvec commented on #96
All I did was refresh browser window and try again and this time it failed as I originally described.  Somehow it still synced the call records.  Three times per call it seems though.  A separate issue perhaps with that part.
https://youtu.be/jECbic1rBHo

[2018-10-15 02:43] zxdong262 opened #99 "Bug when auto sync call log"
https://youtu.be/jECbic1rBHo

_Originally posted by @bjsvec in https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/issues/96#issuecomment-429186913_

[2018-10-15 02:44] #99 closed

[2018-10-15 02:50] zxdong262 commented on #96
Hi, @bjsvec
I fixed the three time sync bug, and released new versions, but still can not reproduce not showing contact list bug, might related to the account I use I guess, I may try get some other test account.

[2018-10-15 03:14] bjsvec commented on #96
Well done and thank you.  I'll keep an eye on the not showing contact list bug and see if I can figure out how to reproduce it.

[2018-10-15 05:24] zxdong262 opened #103 "Do auto log only when auto log checked in setting"

[2018-10-15 05:48] #103 closed

[2018-10-19 00:51] zxdong262 opened #105 "Add fetching indicator"

[2018-10-22 02:59] zxdong262 opened #106 "Add serviceName to third party config"

[2018-11-05 03:10] zxdong262 opened #107 "Add user key to cache-key for mutil user case"

[2018-11-26 06:13] zxdong262 opened #108 "Code split"

[2018-11-27 02:38] zxdong262 opened #109 "Support call log sync feedback"

[2018-11-27 02:38] zxdong262 commented on #109
Tell RC call log sync result

[2018-11-27 02:40] zxdong262 opened #110 "Support different logic for auto/manual call log sync"

[2018-11-27 02:51] #108 closed

[2018-11-27 02:52] #106 closed

[2018-11-27 02:52] #107 closed

[2018-12-19 01:03] zxdong262 commented on #58
Hi @ZacNoski,

Thank you for the feeback.

Ref to this line https://github.com/zxdong262/hubspot-embeddable-ringcentral-phone/blob/209ea862ef6a97db421d19638e28a6e9bcecd17c/src/chrome-extension/features/contacts.js#L201

You can check hubspot api docs to modify it with some search params, if no search params match your needs, I guess you may try to filter the list yourself in this function.

https:

[2019-01-07 00:28] zxdong262 opened #112 "Use template"

[2019-01-07 03:04] #112 closed

[2019-01-09 06:11] tmuehlherr opened #114 "404 error from Github when authorizing HubSpot"
Hi, I love your tool and for the most part, it worked great. Since today, I am getting asked to authorize with HubSpot pretty much every call over and over again, and when I click the Authorize button I see a 404 error from Github. I did not update or changed any versions or settings. Please help.
Thomas.

![image](https://user-images.githubusercontent.com/5608599/50880050-f26e2080-1391-11e9-88e0-

[2019-01-09 07:22] zxdong262 commented on #114
Hi, I moved to ringcentral, so the old url will not work, please try new release >= 0.1.1, sorry for the inconvenience.

[2019-01-11 00:53] tmuehlherr commented on #114
Hi,

Thank you for the quick response. I updated to 0.1.1 although the RingCentral widget still shows 0.2.0 in its version number.
The authorization still does not seem to work properly. The sidebar that shows up now displays a HubSpot page and then Login... and then goes away. A new action then still prompts for Authorization. I am happy to sent the LOG file, but where is it?

Best,
Thomas.

From

[2019-01-11 01:46] zxdong262 commented on #114
@tmuehlherr You can open developer tool of chrome, check console log, see if there is any error.

[2019-01-11 01:48] zxdong262 commented on #114
@tmuehlherr I checked again, in mine it do works.

[2019-01-11 01:57] zxdong262 commented on #114
@tmuehlherr I created one repo in my account to support older version, if you can not get latest version working, you can try using old version. Should works now.

[2019-01-14 00:51] zxdong262 commented on #114
Strange, that is something I do not expect, and can not reproduce in my mac and ubuntu. Can you confirm you loaded the right folder? I may release a version this week.

[2019-01-14 16:42] tmuehlherr commented on #114
I needed to allow the plugin to talk to all hosts. Then it worked. Thanks.

Thomas Muehlherr
Mobile: (310) 614-2401
Skype: muehlhth

On Jan 13, 2019, at 4:51 PM, ZHAO Xudong <notifications@github.com<mailto:notifications@github.com>> wrote:

Strange, that is something I do not expect, and can not reproduce in my mac and ubuntu. Can you confirm you loaded the right folder? I may release a version t

[2019-01-14 20:31] #114 closed

[2019-01-25 03:08] zxdong262 opened #115 "Support 10000+ contacts situation"

[2019-02-04 23:56] fbaddicts opened #118 ""Access Denied Error, Please Contact Support" when authorising ringcentral app in hubspot"
When I'm trying to authorise the ringcentral chrome widget inside of hubspot, I'm receiving a "access denied, contact support" error message.

Any ideas?

[2019-02-05 01:46] zxdong262 commented on #118
Hi @fbaddicts,

You may login out everything, clear cache, and retry to see if it will work.

[2019-02-15 06:09] zxdong262 commented on #118
might be similar tohttps://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/issues/1

Are you using a non-US account?

[2019-02-16 13:54] TobiasLicker opened #120 "sending texts through Hubspot"
Would it be possible in the future to add the function to also send and record texts through Hubspot?

[2019-02-18 00:53] zxdong262 commented on #120
Can you provide more detail about how do you expect it works?

[2019-02-18 00:59] zxdong262 commented on #118
@fbaddicts Are you using a developer account to login?

[2019-02-18 01:04] #105 closed

[2019-02-20 22:59] tgreen12 opened #121 "contacts not syncing"
I am having an issue with my hubspot contacts not syncing. When I attempt to make a note on a call log it says "no related contact". The call log also shows the phone number not the name of the contact. All of my HubSpot contacts appear to in my ringcentral contacts and my hubspot notes are available in ring central.

When making a call the hubspot contact info also doesn't pop up for documenting

[2019-02-21 00:56] zxdong262 commented on #121
Hi @tgreen12

In new version, it only popup when call inbound, since when calling out, user knows the contact info already.

I will investigate the `no related contact` problem.

[2019-02-21 02:05] zxdong262 commented on #121
Hi @tgreen12,

Release new version about this issue:

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.2

Can you test it?

[2019-02-21 02:16] zxdong262 opened #122 "Build with CI"

[2019-02-21 02:44] zxdong262 opened #123 "Add call result to call log"

[2019-02-21 15:22] tgreen12 commented on #121
I'm getting the same issues with the new version.

On Wed, Feb 20, 2019 at 8:05 PM ZHAO Xudong <notifications@github.com>
wrote:

[2019-02-21 15:28] tgreen12 commented on #121
Also when making an inbound call from a number that is in the contacts the number shows as unknown number and no hubcontact info pops ups.

[2019-02-22 01:49] zxdong262 commented on #118
Hi @fbaddicts

Can you try the new release? Used standalone app.

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.3

[2019-02-22 12:47] steliospapagrigoriou commented on #118
yeah this seems to be working now, thanks

[2019-02-22 12:50] steliospapagrigoriou opened #124 "Hubspot changed their contact view/Calling from contact view doesn't work anymore"
Hubspot recently changed their contact view and the extension doesn't show "Call with ringcentral" at the contact view anymore. Check screenshots of new contact view bellow:

Main tab in Contact View-
<img width="1401" alt="screenshot 2019-02-22 at 12 43 47" src="https://user-images.githubusercontent.com/2800904/53243590-5168ca00-36a0-11e9-9725-531728b257cb.png">

Calls tab in Contact View-
<img w

[2019-02-23 17:33] TobiasLicker commented on #120
sorry I meant sending texts so that they are automatically recorded in the activity feed, but I see you have this as feature under #83

[2019-02-23 17:35] TobiasLicker commented on #121
If an inbound call comes in, the ringcentral app pops up, but I don't get a window to add a note about the call and the call also doesn't sync to activity feed. Am I overlooking something?

[2019-02-24 23:27] zxdong262 commented on #121
For the same contact, when call out from this contact's number, would show `unknown`?

[2019-02-24 23:33] zxdong262 commented on #120
@TobiasLicker Oh, get it, I will investigate this.

[2019-02-24 23:34] zxdong262 commented on #121
There is setting of autolog, when it is ON, extension will auto sync call log to readtail activities, also from call history tab, there is  manually sync call button for every call history.

[2019-02-25 00:03] zxdong262 commented on #124
@steliospapagrigoriou Thank you for the feeback, I will make an upgrade about this.

[2019-02-25 00:50] zxdong262 commented on #124
@steliospapagrigoriou When you click `make a phone call` button, you can see the call with rc button

[2019-02-25 19:00] LeisureZone commented on #114
I am using a PC and I am having that same issue.  When I originally installed the desktop app (version 0.4.1), it authorized and displayed as an integrated desktop app in HubSpot.  I had the ability to call from HubSpot on my desktop, but my contacts were never synced even though I enabled the 'Auto log calls' option.  That has been the extent of my "integration" features.  It has never automatica

[2019-02-25 19:17] LeisureZone commented on #114
HERE IS THE MESSAGE:

404
File not found

The site configured at this address does not contain the requested file.

If this is your site, make sure that the filename case matches the URL.
For root URLs (like http://example.com/) you must provide an index.html file.

Read the full documentation for more information about using GitHub Pages.

GitHub Status — @githubstatus

[2019-02-25 19:38] LeisureZone opened #126 "404 error when Authorizing HubSpot"
I am using a PC and I am having that same issue. When I originally installed the desktop app (version 0.4.1), it authorized and displayed as an integrated desktop app in HubSpot. I had the ability to call from HubSpot on my desktop, but my contacts were never synced even though I enabled the 'Auto log calls' option. That has been the extent of my "integration" features. It has never automatically

[2019-02-25 19:38] LeisureZone commented on #126
HERE IS THE MESSAGE:

404
File not found

The site configured at this address does not contain the requested file.

If this is your site, make sure that the filename case matches the URL.
For root URLs (like http://example.com/) you must provide an index.html file.

Read the full documentation for more information about using GitHub Pages.

GitHub Status — @githubstatus

[2019-02-26 15:25] tgreen12 commented on #121
[image: image.png]
Now I get this error when it asks me to allow hubspot contacts to sync. I
believe i had those setting set but now I'm unable to test since I can't
connect contacts.

On Sun, Feb 24, 2019 at 5:31 PM ZHAO Xudong <notifications@github.com>
wrote:

[2019-02-26 15:35] TobiasLicker commented on #121
Same here, If I try to authorize Hubspot, I get 404 Page not found error:

404

Page not found

   - Home
   <https://ringcentral.github.io/ringcentral/hubspot-embeddable-ringcentral-phone/>
   - Installation
   <https://ringcentral.github.io/ringcentral/hubspot-embeddable-ringcentral-phone/install/>
   - Customization
   <https://ringcentral.github.io/ringcentral/hubspot-embeddable-ringcentral-ph

[2019-02-27 05:15] zxdong262 commented on #126
Fixed now, sorry, I forget about the redirect page is in gh-pages.

[2019-02-27 05:16] zxdong262 commented on #121
@TobiasLicker Fixed now, sorry

[2019-02-27 13:57] tgreen12 commented on #121
the 404 is gone. Thanks!!

This is what I see when making an inbound call from a hubspot contact that
is synced with ring central contacts(the number is in ring central
contacts). It pops up as unknown caller in ring central app then has a pop
up for "no related contact". I have the auto log calls set to "on". Sorry
for so many questions.

[image: image.png]

[image: image.png]

On Tue, Feb 26, 20

[2019-02-27 14:42] TobiasLicker commented on #121
Yes, error is gone. If a call comes in, the window to leave notes doesn't
pop up. Setting is on auto log calls. If I click on the note symbol in
Ringcentral app call log to log the call manually, the window pops up "sync
call log to Hubspot", when I leave a note, and click submit, it says "no
related contact".

On Wed, Feb 27, 2019 at 7:57 AM tgreen12 <notifications@github.com> wrote:

--

If you

[2019-02-27 18:25] LeisureZone commented on #124
I do not see this option either.

[2019-02-27 18:43] LeisureZone commented on #126
Thank you for your help. The authorization works now and shows up in HubSpot.  Unfortunately, it does not log the calls made from the RingCentral button in HubSpot.  Do you know why that is?

[2019-02-27 23:33] zxdong262 commented on #124
I can see the `Make a phone call` from your screenshot, the second screenshot @LeisureZone

[2019-02-27 23:41] LeisureZone commented on #124
![crm rc call button missing screenshot](https://user-images.githubusercontent.com/47987811/53530863-ec094480-3ab6-11e9-8d15-54fcc3f1a154.PNG)

[2019-02-27 23:42] LeisureZone commented on #124
Once you push the Make A Phone Call button, the RingCentral button is not appearing

[2019-02-27 23:44] LeisureZone commented on #124
Also, for some reason the RingCentral Chome app has been signing me out randomly all day as well. You can see in the screenshot as well.  This actually just happened and this screenshot was taken right when you replied to this thread.

[2019-02-27 23:47] zxdong262 commented on #126
@LeisureZone I am investigating this, can not reproduce yet.

[2019-02-28 03:10] zxdong262 commented on #124
@LeisureZone Oh, about the button, seems a situation I have not seen, I will think about a solution for this, about random sign out, can you take screenshots of console when this happens.

[2019-03-01 23:04] bjsvec opened #127 "HubSpot has Calling SDK in Beta now"
I know you have put a lot of work into this, but I wanted to share this with you.  It seems it would ultimately be a better path for integration because is should not be browser dependent..

https://community.hubspot.com/t5/HubSpot-Ideas/Offer-integrations-with-other-calling-vendors/idc-p/256614#M30514

Best.

[2019-03-04 16:24] jnelson40 commented on #121
I am getting the same issue as @TobiasLicker

[2019-03-05 00:44] chunyao70 opened #128 "Auto sync call log"
How do I sync the call logs between Hubspot and RingCentral automatically?

[2019-03-05 00:49] zxdong262 commented on #128
In setting there is a auto call log setting, by default it is on, if you find it not working when it is on, let me know.

[2019-03-05 00:51] zxdong262 commented on #127
Thank you, I would check this.

[2019-03-05 00:51] chunyao70 commented on #128
It is not working.  I turn it to on and change Hubspot to "authorize" and it is still not working.

From: ZHAO Xudong <notifications@github.com>
Sent: Monday, March 04, 2019 6:50 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Albert Chen <achen@executivepress.net>; Author <author@noreply.github.com>
Subject: Re: [ringcentral/hu

[2019-03-05 01:22] zxdong262 commented on #124
@steliospapagrigoriou Have released new version, set the button new position. Let me what do you think, thank you for the feedback.

[2019-03-05 01:22] #124 closed

[2019-03-05 01:36] zxdong262 commented on #126
@LeisureZone if you search the number in RC widgets panel, can you find the contact related?

[2019-03-05 01:44] zxdong262 commented on #126
@LeisureZone In history list, would it the history item shows right contact name?

[2019-03-06 23:55] chunyao70 commented on #128
The auto call log is not working:

[cid:image001.png@01D4D445.D3F75260]

From: Albert Chen
Sent: Monday, March 4, 2019 6:51 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <reply@reply.github.com>
Subject: RE: [ringcentral/hubspot-embeddable-ringcentral-phone] Auto sync call log (#128)

It is not working.  I turn it to on and change Hubspot to "authorize" and it is still not working.

From

[2019-03-07 02:31] zxdong262 commented on #128
@chunyao70 Can not see your image posted from email.

[2019-03-07 14:28] chunyao70 commented on #128
I have included the image as an attachment.  I did select Auto Call Logs but calls made from RingCentral are not being logged in HubSpot.

From: ZHAO Xudong <notifications@github.com>
Sent: Wednesday, March 6, 2019 8:31 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Albert Chen <achen@executivepress.net>; Mention <mention@norep

[2019-03-07 23:27] zxdong262 commented on #128
@chunyao70 Is the phone number belongs to contact in hubspot?

[2019-03-07 23:27] chunyao70 commented on #128
Yes.

From: ZHAO Xudong <notifications@github.com>
Sent: Thursday, March 7, 2019 5:27 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Albert Chen <achen@executivepress.net>; Mention <mention@noreply.github.com>
Subject: Re: [ringcentral/hubspot-embeddable-ringcentral-phone] Auto sync call log (#128)

@chunyao70<https://github.co

[2019-03-11 15:21] myperfectcolor opened #130 "Not Syncing Contacts"
It doesn't sync contacts at all. I can make phone calls and it pops up the dial pad, but the contacts are not syncing with the phone numbers in the Ring Central App.

[2019-03-13 05:59] zxdong262 commented on #130
Can you try unauth insettings, and auth again, to see if the contact list sync.

[2019-03-13 06:55] zxdong262 commented on #130
Released https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.6
Can you try this, click left-bottom refresh icon to sync contacts.

[2019-03-13 16:27] myperfectcolor commented on #130
I tried installing it but it doesn't let me.
I went to chrome://extensions/
Load unpacked
Error:
Manifest file is missing or unreadable
Could not load manifest.

[2019-03-14 00:31] zxdong262 commented on #130
@myperfectcolor Did you select the right folder, please check, I checked myself, it works. Do the folder includes the manifest.json? Do you download the chrome file(not the one for firefox).

[2019-03-14 13:37] myperfectcolor commented on #130
Hi,

I got it to sync, and it is working better but still not syncing.
Now when I click on the call log, i at least get a pop up asking if we want
to sync the call.

But when I click "submit", I get the error  message "no related contact",
yet I know for a fact that the contact called and their contact record is
updated with the same phone number.

Thanks,
Jason

[image: hubspot-ringcentral-sync.j

[2019-03-15 18:57] myperfectcolor commented on #130
Another problem now is that it logs out very quickly. Before I updated the
app, it would stay logged in the entire day. Now it seems like every time I
look at it it is logged out and we have to log back in again.

Thanks,
Jason

MyPerfectColor
65 Brown Ave
Springfield, NJ  07081
973-863-2639

Exact Match Paint Color Solutions

On Thu, Mar 14, 2019 at 9:36 AM MyPerfectColor Support <
support@myperf

[2019-03-19 01:08] zxdong262 commented on #130
@myperfectcolor Is your account a CA account or US account?

[2019-03-19 02:00] zxdong262 commented on #130
@myperfectcolor https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.7 I believe this will fix, please try

[2019-03-19 02:01] zxdong262 commented on #128
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.7 I believe this will fix, can you try it?

@chunyao70

[2019-03-19 02:02] chunyao70 commented on #128
Will do.so.in the morning

-------- Original message --------
From: ZHAO Xudong <notifications@github.com>
Date: 3/18/19 9:01 PM (GMT-06:00)
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Albert Chen <achen@executivepress.net>, Mention <mention@noreply.github.com>
Subject: Re: [ringcentral/hubspot-embeddable-ringcentral-phone] Aut

[2019-03-19 02:09] stevecars commented on #130
Hi zxdong262,

I am having the same issue.

When I try to sync contacts, it won't let me.

The slider slides out on the left of the screen, then slides back quickly.

I am in Canada with a Canadian account.

[2019-03-19 02:11] zxdong262 commented on #130
@stevecars Hi, how about the version 0.4.7?

[2019-03-19 10:43] myperfectcolor commented on #130
US

Jason Shaw

o) 973-863-2639
support@myperfectcolor.com

On Mar 18, 2019, at 9:08 PM, ZHAO Xudong <notifications@github.com> wrote:

@myperfectcolor Is your account a CA account or US account?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-19 13:32] myperfectcolor commented on #130
It is definitely syncing now.
We are able to see the contact name in the call log, and when we click the
Log to Hubspot, it does log the call.

But,
* it logs the call with the date you click to log the call, not the date of
the call. It also doesn't log that the call connected.
* It also doesn't show logged calls as green dots in the RingCentral call
activity list. They are all still displaying a

[2019-03-19 17:27] myperfectcolor commented on #130
It is also still logging out way too quickly, Is there a way to change it
so that it doesn't log out?
It should only log out after 8 or so hours.

Best,
Jason

MyPerfectColor
65 Brown Ave
Springfield, NJ  07081
973-863-2639

Exact Match Paint Color Solutions

On Tue, Mar 19, 2019 at 9:31 AM MyPerfectColor Support <
support@myperfectcolor.com> wrote:

[2019-03-20 02:19] zxdong262 commented on #130
@myperfectcolor Thank you for the feedback.

1. there is a auto log toggle button in settings, when it is on, autolog will trigger, but not that fast, it may take a few seconds to trigger.

2. I did not reproduce the logout too quickly problem, can you get some log from browser console?

3. I will try solving other problems

[2019-03-20 20:13] tgreen12 commented on #121
Any updates on this? I'm still getting the same issues?

On Mon, Mar 4, 2019 at 10:24 AM jnelson40 <notifications@github.com> wrote:

[2019-03-20 21:01] tgreen12 commented on #130
The contacts are syncing better now but I see a few other issues.
- if you type a contact when on the ring central keypad it doesn't recognize the contact. You must be in contacts
-if a phone number doesn't have a Hubspot contact it does not open a new contact box
-when leaving a note from the ring central app pop up the text goes outside of the box
![image](https://user-images.githubusercontent.c

[2019-03-26 02:20] zxdong262 commented on #130
@tgreen12 Hi

For this one, as I tested, it matches, but the rule is different, you may need input more chars to trigger it

Do you mean the popup contact info ? If so, it do only support hubspot contact.

Released new version to fix this: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.4.10

[2019-03-26 15:08] tgreen12 commented on #130
For an incoming call that does not have a hubspot contact I thought a pop
for creating a new Hubspot contact was supposed to pop up; If so this
doesn't happen. If it isn't a current feature that would be a great
addition.

Is there a way to make the pop up capable of showing the contacts info on
the left when making a note during a call? Currently is looks like below:

[image: image.png]

The note

[2019-03-26 15:14] tgreen12 commented on #130
Can you make a call from the ring central app and make a note in ring
central that will sync with the hubspot notes. I felt like that was a
feature but I no longer see that capability.

On Mon, Mar 25, 2019 at 9:20 PM ZHAO Xudong <notifications@github.com>
wrote:

[2019-03-26 23:36] zxdong262 commented on #130
Hi @tgreen12

Can you explain this in detail?

[2019-03-27 13:14] tgreen12 commented on #130
if you make a call from the ring central app to a contact in hubspot are
you able to create a note in the ring central app that will sync to the
hubspot notes? Or must you document the note in Hubspot directly.

On Tue, Mar 26, 2019 at 6:36 PM ZHAO Xudong <notifications@github.com>
wrote:

[2019-03-27 14:17] myperfectcolor commented on #130
Can you please explain how to provide the browser logs?
It is still logging out quickly -in fact, it is pretty much useless because
every time we receive a call it is already logged out again.
And, it is repeatedly asking to authorize the Hubspot data.

MyPerfectColor
65 Brown Ave
Springfield, NJ  07081
973-863-2639

Exact Match Paint Color Solutions

On Mon, Mar 18, 2019 at 10:00 PM ZHAO Xudong <

[2019-03-27 14:46] myperfectcolor commented on #130
Please let me know if you create a new version to try.
I'm uninstalling it for now because it is practically useless. Before the
improvements it never logged out (which was awesome), but now it "kind of"
syncs but since it is always logged out it doesn't anyway.
It logs out way too fast and I have to constantly reauthorize the hubspot
access.

Thanks,
Jason

MyPerfectColor
65 Brown Ave
Springfield

[2019-03-27 19:50] tgreen12 commented on #130
we are having the same issue with quick log out time

On Wed, Mar 27, 2019 at 9:46 AM myperfectcolor <notifications@github.com>
wrote:

[2019-03-28 00:54] zxdong262 commented on #130
@embbnux Do you have any idea why this happen?

[2019-03-29 05:09] embbnux commented on #130
@zxdong262 Does our extension support to refresh hubspot authorization token?

[2019-03-29 06:07] zxdong262 commented on #130
A few guesses about the auth fail bug:

- Network problem, the token api always fails sometimes
- Hit hubspot api rate limit

Anyway, next week, I am going to rewrite the whole auth/data fetching process, get rid of old auth flow,  to solve this problem.

Thank you for the patience and feedback, when new version released, I will let you know.

@myperfectcolor @tgreen12 @embbnux

[2019-03-29 12:38] myperfectcolor commented on #130
thanks!

MyPerfectColor
65 Brown Ave
Springfield, NJ  07081
973-863-2639

Exact Match Paint Color Solutions

On Fri, Mar 29, 2019 at 2:07 AM ZHAO Xudong <notifications@github.com>
wrote:

[2019-04-01 18:57] tgreen12 opened #131 "contacts no syncing and phone number not listed error"
on one PC when I auth to improt hubspot contacts the process doesn't transfer contacts.

Also when in contacts and you click the ringcentral phone to call the  message "no phone number listed for the contact" appears

![image](https://user-images.githubusercontent.com/47835259/55352237-018ed700-5486-11e9-97a6-d6528e231937.png)

![image](https://user-images.githubusercontent.com/47835259/55352197-e

[2019-04-02 01:07] zxdong262 commented on #131
Seems hubspot api do not work any more, need a full rewrite to solve it.

[2019-04-02 07:34] zxdong262 commented on #131
Thank you for the feedback and released new version, let me know how it works, fixed some known problems related to recent Hubspot api change:

- Support new UI
- Support custom X-User-Agent
- New Auth and data fetch methods
- Custom prefix

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.0

[2019-04-02 07:34] zxdong262 commented on #130
Thank you for the feedback and released new version, let me know how it works, fixed some known problems related to recent Hubspot api change:

- Support new UI
- Support custom X-User-Agent
- New Auth and data fetch methods
- Custom prefix

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.0
@myperfectcolor @tgreen12

[2019-04-02 13:56] tgreen12 commented on #131
Not all contacts transferred over with the new update. thanks for your work

[2019-04-02 16:05] bjsvec commented on #131
I also see only a small set of HubSpot customers synced.  In addition, I am getting the web phone not available message even though another message states it registered successfully:

[2019-04-02 18:09] jin-fhg opened #133 "Call Logs does not show"
Hello,

I am having an issue with the call logs not showing under the activities tab of the contact, but I am able to see them from the dialer. The message pop up shows up saying that the call log is sync to hubspot but when I click it to check the activities, the log does not show. Here is a sample video of the issue:
https://drive.google.com/file/d/12AA7pXhSLXJww8tGcJ2lyzLfG-iqKaSf/view?usp=shar

[2019-04-02 18:46] jin-fhg commented on #133
Hello,

I am having an issue with the call logs not showing under the activities tab of the contact, but I am able to see them from the dialer. The message pop up shows up saying that the call log is sync to hubspot but when I click it to check the activities, the log does not show. Here is a sample video of the issue:
https://drive.google.com/file/d/12AA7pXhSLXJww8tGcJ2lyzLfG-iqKaSf/view?usp=shar

[2019-04-04 17:44] springrock1 opened #134 "Contacts not syncing"
Contacts not syncing from Hubspot to RingCentral. Tried troubleshooting with an internal developer at Ring Central and this error coded keeps popping up in the Chrome extension manager:

<img width="684" alt="Screen Shot 2019-04-04 at 12 38 56 PM" src="https://user-images.githubusercontent.com/49286857/55576607-55dcc580-56d7-11e9-86aa-55c1e624aaac.png">

[2019-04-05 06:17] zxdong262 commented on #133
@jin-fhg For the log not showing, might be hubspot data delay? I tested, it works, can try some other time to see if it works now?

@embbnux About session timeout, can you answer this one?

[2019-04-05 06:34] zxdong262 commented on #134
Hi @springrock1
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.1
Released new version, can you try this one?

[2019-04-05 06:34] zxdong262 commented on #133
Hi @jin-fhg
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.1
Released new version, can you try this one?

[2019-04-05 06:34] zxdong262 commented on #131
Hi @bjsvec @tgreen12
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.1
Released new version, can you try this one?

[2019-04-05 15:36] jin-fhg commented on #133
Hello @zxdong262,
I tried the new version, but I am still having the same issue. I also noticed that when I access the Recent Activities of a contact person and go to the Hubspot tab, it only shows a loading icon.

[2019-04-05 18:18] springrock1 commented on #134
Hello,
I tried the new version and still getting an error:
[image: Screen Shot 2019-04-05 at 1.16.16 PM.png]

On Fri, Apr 5, 2019 at 1:34 AM ZHAO Xudong <notifications@github.com> wrote:

--

[2019-04-06 03:57] zxdong262 commented on #134
@springrock1 can see image from email

[2019-04-06 03:59] zxdong262 commented on #133
can you post the console log?

[2019-04-06 12:43] jin-fhg commented on #133
[app.hubspot.com-1554554534326.log](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/files/3050455/app.hubspot.com-1554554534326.log)

Console Log attached.

[2019-04-07 23:12] springrock1 commented on #134
<img width="685" alt="Screen Shot 2019-04-05 at 1 16 16 PM" src="https://user-images.githubusercontent.com/49286857/55691141-7bc8cb00-5960-11e9-95ac-0b08af42ece0.png">

[2019-04-07 23:36] zxdong262 commented on #134
@springrock1 This is background process, the errors do not matter, do not need to check it, you should just check the chrome console log.

[2019-04-08 00:49] springrock1 commented on #134
<img width="1107" alt="Screen Shot 2019-04-07 at 7 42 24 PM" src="https://user-images.githubusercontent.com/49286857/55692487-3612ff00-596e-11e9-93ac-be515ae77f5e.png">
<img width="1117" alt="Screen Shot 2019-04-07 at 7 42 51 PM" src="https://user-images.githubusercontent.com/49286857/55692489-3d3a0d00-596e-11e9-9b34-fc094bea63f8.png">
<img width="1130" alt="Screen Shot 2019-04-07 at 7 43 04 PM" s

[2019-04-08 01:08] zxdong262 commented on #134
@springrock1 Not showing this in my chrome, can you try disable all other extensions, and try again.

[2019-04-08 01:09] zxdong262 commented on #133
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.2

Hi @jin-fhg , released new version to fix this, can you try this?

[2019-04-08 01:25] springrock1 commented on #134
Ok disabled all other extensions (except the ringcentral). I logged out of the RingCentral extension, refreshed Hubspot, cleared the log, then signed into the RingCentral extension...
<img width="1674" alt="Screen Shot 2019-04-07 at 8 21 37 PM" src="https://user-images.githubusercontent.com/49286857/55693146-116d5600-5973-11e9-9dbb-7ef0a36b16e6.png">

[2019-04-08 01:30] springrock1 commented on #134
This was the latest error report from the RingCentral Extension...
<img width="693" alt="Screen Shot 2019-04-07 at 8 29 58 PM" src="https://user-images.githubusercontent.com/49286857/55693301-036c0500-5974-11e9-993c-5a8db952982e.png">

[2019-04-08 01:34] zxdong262 commented on #134
@springrock1 Ignore the extension error, so it still not working?

[2019-04-08 01:37] zxdong262 commented on #134
@springrock1 You are using 0.5.1 or 0.5.2?

[2019-04-08 01:39] springrock1 commented on #134
0.5.1 didn't know there was a 0.5.2!?

[2019-04-08 01:41] zxdong262 commented on #134
@springrock1 It is all ok, I released 0.5.2 a few minutes ago, all should work about the contacts part.

[2019-04-08 01:42] zxdong262 commented on #134
@springrock1 So it is working or not? ths console log seems normal.

[2019-04-08 01:45] springrock1 commented on #134
Just tried it and still same problem?
<img width="1671" alt="Screen Shot 2019-04-07 at 8 44 20 PM" src="https://user-images.githubusercontent.com/49286857/55693691-05cf5e80-5976-11e9-97d9-ed2e2568e076.png">

[2019-04-08 01:47] springrock1 commented on #134
<img width="566" alt="Screen Shot 2019-04-07 at 8 46 57 PM" src="https://user-images.githubusercontent.com/49286857/55693744-50e97180-5976-11e9-8094-0361a170bd5f.png">

[2019-04-08 01:48] zxdong262 commented on #134
@springrock1 There is a unauth button in settings of RC panel, can you unauth and click contacts and auth again?

[2019-04-08 01:50] springrock1 commented on #134
When I click Unauthorize nothing happens

[2019-04-08 01:51] springrock1 commented on #134
No matter how many times I click it it doesn't do anything

[2019-04-08 01:53] zxdong262 commented on #134
@springrock1 Can you try remove the extension from extension list and reload the extension

[2019-04-08 01:53] zxdong262 commented on #134
Then try the unauth button again

[2019-04-08 01:54] springrock1 commented on #134
Ok I refreshed the page and it allowed me to unauthorize. I clicked it and re authorized. No change...

[2019-04-08 01:54] zxdong262 commented on #134
So in contacts there are no hubspot filter? or in hubspot filter there is no contact?

[2019-04-08 01:56] springrock1 commented on #134
<img width="324" alt="Screen Shot 2019-04-07 at 8 55 55 PM" src="https://user-images.githubusercontent.com/49286857/55693981-90fd2400-5977-11e9-808a-9c5cd240f1ca.png">

[2019-04-08 01:59] zxdong262 commented on #134
How many contacts do you have?

[2019-04-08 02:01] springrock1 commented on #134
7,502

[2019-04-08 02:04] zxdong262 commented on #134
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.3

Can you try this

[2019-04-08 02:04] zxdong262 commented on #131
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.3
Released new version @tgreen12 @bjsvec

[2019-04-08 02:05] zxdong262 commented on #133
@jin-fhg https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.3

[2019-04-08 02:20] springrock1 commented on #134
Ok definitely making progress. However I I just added a new contact, refreshed the page, and it's not showing in the contact list. Also it appears it's not all contacts. I don't know how many are there but a couple that I know are contacts in Hubspot (Myself and a few coworkers) do not show up in the contacts list?

[2019-04-08 02:31] springrock1 commented on #134
I just made a call from Hubspot using the Ringcentral extension and it doesn't recognize me as a contact:
<img width="1676" alt="Screen Shot 2019-04-07 at 9 23 42 PM" src="https://user-images.githubusercontent.com/49286857/55695063-76797980-597c-11e9-9202-34f23469024d.png">

[2019-04-08 02:42] zxdong262 commented on #134
In left bottom corner there is a refresh conatcts button, or unauth an auth again

[2019-04-08 02:44] zxdong262 commented on #134
@springrock1 All US numbers?

[2019-04-08 02:46] springrock1 commented on #134
Yes US numbers. Just refreshed and now the same problem as before-no contacts loading at all...

[2019-04-08 02:49] zxdong262 commented on #134
So the conetext invalidate error again?

[2019-04-08 02:50] springrock1 commented on #134
<img width="1674" alt="Screen Shot 2019-04-07 at 9 50 01 PM" src="https://user-images.githubusercontent.com/49286857/55695645-294ad700-597f-11e9-82bc-d1317f8afb6f.png">

[2019-04-08 02:52] zxdong262 commented on #134
Seems normal from your screenshot, it may take some time since you have 7000+ conatcts.

[2019-04-08 03:05] springrock1 commented on #134
<img width="1674" alt="Screen Shot 2019-04-07 at 10 00 22 PM" src="https://user-images.githubusercontent.com/49286857/55696027-d114d480-5980-11e9-805e-a28544fbfdc6.png">
<img width="1673" alt="Screen Shot 2019-04-07 at 10 01 18 PM" src="https://user-images.githubusercontent.com/49286857/55696032-d6721f00-5980-11e9-928a-374a3a0e202f.png">
Curious what's supposed to happen when a call is logged. I h

[2019-04-08 03:42] zxdong262 commented on #134
@springrock1 Seems it is a bug. I will fix it in a few hours.

[2019-04-08 06:07] zxdong262 commented on #130
@myperfectcolor @tgreen12
Another release, https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.4 now timeout time is 7 days.

[2019-04-08 06:07] zxdong262 commented on #133
Another release, https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.4 now timeout time is 7 days.

[2019-04-08 06:10] zxdong262 commented on #134
Another release, https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.4 now timeout time is 7 days.

The Auto call logs works ok in my test env, it will auto log after several seconds after hung up.

[2019-04-08 14:38] springrock1 commented on #134
This release doesn't seem to be working at all. Can't get any contacts to load at all...
<img width="1677" alt="Screen Shot 2019-04-08 at 9 37 41 AM" src="https://user-images.githubusercontent.com/49286857/55732718-1b7a6d80-59e2-11e9-8bdc-522ad8f1133b.png">

[2019-04-08 21:50] springrock1 commented on #134
Ok it appears it needs time to load because now it's working. But the call log feature doesn't seem to be working.
<img width="1680" alt="Screen Shot 2019-04-08 at 4 48 55 PM" src="https://user-images.githubusercontent.com/49286857/55759191-6619db00-5a1e-11e9-8496-61e9192d19b0.png">
<img width="394" alt="Screen Shot 2019-04-08 at 4 49 07 PM" src="https://user-images.githubusercontent.com/49286857/

[2019-04-08 21:51] springrock1 commented on #134
It says synced but it doesn't show up on the contact record at all...

[2019-04-09 00:54] zxdong262 commented on #134
So you click the check contact activities, it do not show the log you add? @springrock1

[2019-04-09 01:09] springrock1 commented on #134
Correct

Matthew Thill
Director | Business Development
Springrock Gutters
P. 630.750.5043
E. matthew@springrockgutters.com

SpringrockGutters.com

[2019-04-10 22:34] jin-fhg commented on #133
Hello @zxdong262,

[2019-04-11 01:54] zxdong262 commented on #133
@jin-fhg Thank you for the feedback, released new version, this should fix now.

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.5

[2019-04-11 02:01] zxdong262 commented on #134
@springrock1 the contact targeted, when sync log, does the contact have a mobile phone or phone number.
Can you try the new release https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.5

[2019-04-11 15:13] jin-fhg commented on #133
Hello @zxdong262,

[2019-04-11 15:42] bjsvec commented on #133
I am still not having good luck either.  I have been following the comments and installed 0.5.5 and do not get calls synced to Hubspot contacts even though I see the message that is synced sucessfully and a link to view the contact.

What formats and fields are supported for phone number?  I have tried phone and mobile fields with variations like +14155551212, (415) 555-1212, 4155551212.

I have a

[2019-04-11 16:47] jin-fhg commented on #133
Hello @zxdong262
I am receiving a lot of feedback from the Hubspot customers with this integration, and most of them are having this issue.

[2019-04-11 16:47] jin-fhg commented on #133
Hello @zxdong262
I am receiving a lot of feedback from the Hubspot customers with this integration, and most of them are having this issue.

[2019-04-12 01:37] zxdong262 commented on #133
@jin-fhg @bjsvec Released a new version to support more event type.
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.6

And @jin-fhg, you mean the activities in RC widgets, right?

<img width="292" alt="Screen Shot 2019-04-12 at 9 35 23 AM" src="https://user-images.githubusercontent.com/1641949/56006211-8f7c8480-5d06-11e9-98b6-c310a758a175.png">

[2019-04-12 01:41] zxdong262 commented on #133
@bjsvec Do you mean the auto call log sync? If it takes 15 minutes to trigger, that is too long than expected, when I tested it, it may take seconds or a minute, never that long. So in your env, it always take that long, or just once?

[2019-04-12 01:46] springrock1 commented on #134
Ok tried the new version. I made a call using the app and after about 15 seconds a banner on the left pops up and says call logged to Hubspot, click to see contact record. Whether I click or not nothing actually appears in the contact record....
<img width="576" alt="Screen Shot 2019-04-11 at 8 44 11 PM" src="https://user-images.githubusercontent.com/49286857/56006571-e8aece80-5c9a-11e9-8a21-a5275

[2019-04-12 14:41] jin-fhg commented on #133
Hello @zxdong262,
The activities in the RC widget shows nothing as well as the activity history of the contact even though I am receiving a prompt from Hubspot that the call log is synced.
![call log synced](https://user-images.githubusercontent.com/49035508/56045566-0a2fb900-5d74-11e9-9f89-07e923f717c6.png)
![image](https://user-images.githubusercontent.com/49035508/56045584-0ef46d00-5d74-11e9-8e

[2019-04-12 15:39] bjsvec commented on #133
@zxdong262 I don't really ever use the call log except for testing this.  It has been intermittent for me, but certainly not within the few seconds one would expect.  I'll keep an eye on it.

Can you explain a bit what format phone numbers might need to be in to be recognized?  I was wondering if that could be an issue.  In the mean time I am having the same issue as @jin-fhg

[2019-04-15 01:16] zxdong262 commented on #133
@bjsvec When you can see the phone number of the hubspot contact from RC widgets, then the phone number format is OK. Check https://www.npmjs.com/package/libphonenumber-js for supported phone number format, we use this module to do number check internally.

[2019-04-15 12:43] jin-fhg commented on #133
Hello @zxdong262,
Did you find anything yet? Is the path for the dist folder a possible cause of the issue? I actually saved mine in the Folder I created inside the Downloads Folder. Will that causes issues? Let me know your thoughts about this and thanks in advance.

[2019-04-15 12:57] zxdong262 commented on #133
@jin-fhg I think dist folder location does not matter. I will check this tomorrow.

[2019-04-16 22:47] jin-fhg commented on #133
Hello @zxdong262,
Please let me know what you can find today on this issue. I appreciate your help.

[2019-04-16 23:43] zxdong262 commented on #133
@jin-fhg I did not reproduce this, all works in my test account.

Can you share your har file in background page? make sure the log sync included.

<img width="885" alt="Screen Shot 2019-04-17 at 7 40 19 AM" src="https://user-images.githubusercontent.com/1641949/56250966-2d47c900-60e4-11e9-9928-4dad1cf79c6a.png">

You can send the file in email to me. zxdong@gmail.com

[2019-04-17 00:06] jin-fhg commented on #133
Hello @zxdong262
Here are the attached HAR and Console Log from the background page.
[nkdmoognodbfhkodagljchgpahicapjn.txt](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/files/3087365/nkdmoognodbfhkodagljchgpahicapjn.txt)
[nkdmoognodbfhkodagljchgpahicapjn-1555459350987.txt](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/files/3087366/nkdmoognodbfhkodagljc

[2019-04-17 01:29] zxdong262 commented on #133
@jin-fhg Thank you for the feedback! Released new version with fix.
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.7

[2019-04-17 01:29] zxdong262 commented on #134
@springrock1  Thank you for the feedback! Released new version with fix.
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.7

[2019-04-17 02:15] bjsvec commented on #133
I can confirm call logs update for me now.  Thank you.

I have a new problem that I cannot get rid of this error though.  I tried clearing caches, incognito mode, etc.  Can you help?

[2019-04-17 02:46] zxdong262 commented on #133
@bjsvec What error? Images in email can not show in github.

[2019-04-17 02:53] bjsvec commented on #133
Sorry. https://imgur.com/PvdVNoa <https://imgur.com/PvdVNoa> is what I am fighting with.  It must be a Chrome setting, but I haven’t been able to find it.  Thanks.

[2019-04-17 03:00] zxdong262 commented on #133
![PvdVNoa](https://user-images.githubusercontent.com/1641949/56257753-f089cb00-60ff-11e9-9b59-bc4c03732c32.png)

@embbnux Any ideas about this?

[2019-04-17 03:10] jin-fhg commented on #133
Thank you @zxdong262, I can see the logs now. I will continue to play with it and let you know if I have other questions. Also, about the error that @bjsvec is encountering, this seems to be a permission issue with  the Chrome Browser. You may try to go to the content settings of Chrome and allow this app to access the microphone and the sound. Make sure as well that the browser has a default micr

[2019-04-17 06:05] embbnux commented on #133
@zxdong262 When our widget requires microphone permission for web phone in first time, chrome browser will popup permission setting in address bar. If user `blocks microphone` or `doesn't have microphone device`, we will have that notification.
User can also go to `chrome://settings/content/microphone` page to allow our widget to use microphone.

![image](https://user-images.githubusercontent.com/

[2019-04-17 14:42] bjsvec commented on #133
Thanks all.  The audio trouble was a VM hijacking my audio and threw me for a loop.  I look forward to putting the contact sync through more evaluation.

[2019-04-22 16:49] jin-fhg commented on #133
Thank you so much @zxdong262 Call logs are now working as expected.

[2019-04-22 16:49] #133 closed

[2019-04-24 00:12] zxdong262 commented on #95
done

[2019-04-24 00:12] #95 closed

[2019-04-25 07:28] dirosenthal commented on #120
Were you able to successfully log texts in the activity feed?

[2019-04-25 08:11] zxdong262 commented on #120
@TobiasLicker @dirosenthal No, dot not have this feature yet.

[2019-04-25 19:29] TobiasLicker commented on #120
would it be a possible feature some time in the future? logging texts for
everyone to see would be great.
I noticed logging phone calls seems to be working now perfectly! Nice
work!!!

On Thu, Apr 25, 2019 at 3:11 AM ZHAO Xudong <notifications@github.com>
wrote:

--

If you have any questions, please call me at (636) 916-5400 #107 or reply
to this email.

Sincerely,

Tobias Licker
Attorney at Law

[2019-04-25 22:07] ndwilliams3 commented on #127
Here's the repository. https://github.com/HubSpot/calling-extensions-sdk

[2019-04-25 22:21] zxdong262 commented on #120
@TobiasLicker Sure, I will check this next week. Thanks for the feedback!

[2019-04-29 00:56] zxdong262 commented on #120
@TobiasLicker Yes, it is possible, but we need a switch to allow user to turn it on/off in case user do not want to sync message. It may take some time, might be after May 8. @embbnux

[2019-04-29 15:26] TobiasLicker commented on #120
Great news! Thank you!

On Sun, Apr 28, 2019 at 7:56 PM ZHAO Xudong <notifications@github.com>
wrote:

--

If you have any questions, please call me at (636) 916-5400 #107 or reply
to this email.

Sincerely,

Tobias Licker
Attorney at Law

A & L, Licker Law Firm, LLC
<https://plus.google.com/108564275386184929005/posts?hl=en>

*St. Charles*
Main Office & Mailing Address:
1861 Sherman Dr
St. Charle

[2019-04-29 16:02] bjsvec commented on #86
Is your idea for this feature to create a new contact record for a phone number not found in HubSpot?  I think that would be useful.

[2019-04-29 17:18] zxdong262 commented on #86
@bjsvec I mean sync call log could do update or create new log slot, add a selection for this. It hsas been a while, I think it is not useful. Close it now.

[2019-04-30 21:57] SeaFist opened #136 "The Sync Call Log to Hubspot"
Where can I retrieve in Hubpot the "Sync Call Log to Hubspot" for calls and descriptions created in embedded RingCentral dialer?

[2019-05-02 00:36] zxdong262 opened #137 "About auto call log sync"
# About Auto call log sync feature

1. Make sure you have auto call log on in settings. And already authorized to access hubspot contacts data.
<img width="304" alt="Screen Shot 2019-05-02 at 8 21 55 AM" src="https://user-images.githubusercontent.com/1641949/57051418-024ca000-6cb4-11e9-829e-a29f232e0e99.png">

2. Make sure the call log is from or to hubspot contact, you can check this from call hi

[2019-05-02 00:36] #137 closed

[2019-05-02 01:02] zxdong262 commented on #136
A detailed description about auto call log: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137

[2019-05-09 19:52] zwardfmg opened #138 "Error when syncing contacts"
When attempting to sync contacts, I see it error out for a split second. It is attempting to import almost 37,000 contacts - is there anyway to get around this?

[2019-05-09 23:51] zxdong262 commented on #138
I will try to find a way handle this much contacts, Thank you for the feedback.

[2019-05-10 18:54] advancify opened #139 "desktop.ini files causing issues in Chrome Extensions"
Just installed webroot security and it immediately deleted this extension. I re-downloaded the extension and tried to upload the unpacked file and it said there are desktop.ini files inside the folder uploaded. If you delete the hidden desktop.ini files and re-upload, chrome takes it without a hitch.

Awesome extension, thanks for creating this!

[dist.zip](https://github.com/ringcentral/hubspot-e

[2019-05-12 11:13] zxdong262 commented on #139
Thank you! I checked, in mac it do not have desktop.ini, seems windows auto add the desktop.ini file to the folder, I google it, got this https://www.computerhope.com/issues/ch001060.htm, not sure there is a way to avoid this(except publishing to Chrome store).

[2019-05-13 20:09] advancify commented on #139
That makes sense. The desktop.ini files were preventing the extension from
installing.

Chrome has been warning me about this developer app loading in my browser,
any ideas why?

On Sun, May 12, 2019 at 4:13 AM ZHAO Xudong <notifications@github.com>
wrote:

[2019-05-14 01:06] zxdong262 commented on #139
@advancify I guess it is because it is not published to Chrome store or your safe setting is more strict.

[2019-05-14 23:18] SeaFist opened #140 "Access Call Recording"
Where is the call recording accessed inside HubSpot?

[2019-05-15 00:24] zxdong262 commented on #140
Do you mean the voicemail? If so, currently voicemail is not supported, it is on the todo list.

[2019-05-15 02:23] zxdong262 commented on #138
Hi zwardfmg

Release a new version, syncing contacts in background process.
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.11

Can you try this?

[2019-05-15 07:43] zxdong262 commented on #126
Close it now, has been a while, feel free to submit another issue.

[2019-05-15 07:43] #126 closed

[2019-05-15 07:43] zxdong262 commented on #109
Done

[2019-05-15 07:43] #109 closed

[2019-05-15 07:44] #86 closed

[2019-05-15 07:45] zxdong262 commented on #46
Not useful

[2019-05-15 07:45] #46 closed

[2019-05-15 07:46] #118 closed

[2019-05-15 07:47] zxdong262 commented on #93
done

[2019-05-15 07:47] #93 closed

[2019-05-15 07:47] zxdong262 commented on #115
dup

[2019-05-15 07:47] #115 closed

[2019-05-17 20:45] tmuehlherr commented on #134
Hi, generally I like your plugin.
However, I just installed 0.5.12 and see that the phone calls don't log in HubSpot.
I am calling by clicking the tel:xxxxxxx link in the contact properties. That then triggers the browser Version of Ring Central, which is configured to dial using the desktop client of Ring Central. I am doing this because the desktop client is always open on my second screen and i

[2019-05-20 00:32] zxdong262 commented on #134
@tmuehlherr Can you check this https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137, and let me know if you can get it work.

[2019-05-21 22:42] SeaFist opened #141 "Does not populate the customer's information"
![hubspot1](https://user-images.githubusercontent.com/48298504/58135347-a777ea00-7c5c-11e9-842f-5c68ec68a773.png)
![hubspot2](https://user-images.githubusercontent.com/48298504/58135350-a941ad80-7c5c-11e9-9c00-6914c7d9359f.png)

It is not populating the contact information for incoming calls. We would like to have the phone number associated with a contact to open a window to show the incoming cal

[2019-05-21 23:44] zxdong262 commented on #141
@embbnux Ongoing call on other device, is this supported?

[2019-05-22 09:05] embbnux commented on #141
@zxdong262 Yes, you can get calls on other device with active call event https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#active-call-event

[2019-05-23 18:04] nabooska commented on #141
Hello, I am representing the customer with this issue. We have 160,000 contacts imported into HubSpot. Could this be the issue?

While demoing the platform, we had a much smaller pool of contacts and the integration was working. We want to view the customer profile when they call on a phone number associated with their contact

[2019-05-23 21:14] zxdong262 commented on #141
@nabooska I never tested that much contacts, it may cause serious performance issue.

when call the contact, if it shows right name, not unknown, then the contact is imported properly, else it is not imported properly. And it must happens in the extension panel, not on other device(not supported yet).

it may take many minutes to sync that much contacts, do you see a popup about sync finished?

I

[2019-05-23 21:33] nabooska commented on #141
A small window pops up about contacts syncing but I have not seen a popup about the sync finish. When a call is handled, HubSpot does not react. That leads me to believe the sync never completed.

What info do you need from me? I'm happy to supply it. I am located in Idaho on Mountain Standard Time.

[2019-05-23 21:41] nabooska commented on #141
When contact calls, nothing happens in Hubspot.

[2019-05-24 00:56] zxdong262 commented on #141
@nabooska
Goto Chrome extensions list ,click the background page to open developer tool of background page, you can check the network section, when syncing.

you can unauthorized in settings and reauth again to trigger contacts sync or click the reload contacts button to trigger it.

<img width="422" alt="Screen Shot 2019-05-24 at 8 42 03 AM" src="https://user-images.githubusercontent.com/1641949/

[2019-05-24 01:00] zxdong262 commented on #141
@nabooska You can check synced hubspot contacts in contacts panel, try click to call, it should show correct name, for those not synced, it will show noname.

<img width="312" alt="Screen Shot 2019-05-24 at 8 58 17 AM" src="https://user-images.githubusercontent.com/1641949/58295551-5f92c780-7e02-11e9-8732-a6d44acbe415.png">

[2019-05-24 14:38] nabooska commented on #141
Thank you, I will try syncing contacts multiple times to see if it works.

Below is a screencap of the console from the RingCentral extension

[image: image.png]

Hope this helps,

*NATE LIJEWSKI*

CUSTOMER SERVICE REPRESENTATIVE

Direct: 208-806-0057 |  Office: 208-806-0066  |  Fax: 208-514-0998
<(208)%20514-0998>

PO Box 6574  |  491 E. 10th Street, Suite A9  |  Ketchum, ID 83340

*WWW.FIRSTLITE

[2019-05-24 14:38] nabooska commented on #141
![image](https://user-images.githubusercontent.com/50964400/58335673-56542b80-7dff-11e9-95db-fd4668058585.png)

[2019-05-27 00:33] zxdong262 commented on #141
@nabooska Can you provide a screenshot of background console after clicking reload sync button? or har file?

[2019-05-28 15:41] nabooska commented on #141
Hello,

Hope this helps.

Here you go:

[image: image.png]

[image: image.png]

[image: image.png]

*NATE LIJEWSKI*

CUSTOMER SERVICE REPRESENTATIVE

Direct: 208-806-0057 |  Office: 208-806-0066  |  Fax: 208-514-0998
<(208)%20514-0998>

PO Box 6574  |  491 E. 10th Street, Suite A9  |  Ketchum, ID 83340

*WWW.FIRSTLITE.COM <http://www.firstlite.com/>*

[image: Inline image 4]

On Sun, May 26, 2019

[2019-05-28 17:13] nabooska commented on #141
![image (4)](https://user-images.githubusercontent.com/50964400/58497643-a56cca00-8139-11e9-8b9e-9898903ea565.png)
![image (5)](https://user-images.githubusercontent.com/50964400/58497644-a56cca00-8139-11e9-93fd-449a7c0a9e0a.png)
![image (3)](https://user-images.githubusercontent.com/50964400/58497645-a56cca00-8139-11e9-8043-e2e44c1f531e.png)

[2019-05-29 00:45] zxdong262 commented on #141
@nabooska Can we set a meeting next week, so we can talk about it. what is your timezone?

[2019-05-29 14:27] nabooska commented on #141
I am located in Idaho, USA mountain standard time.

*NATE LIJEWSKI*

CUSTOMER SERVICE REPRESENTATIVE

Direct: 208-806-0057 |  Office: 208-806-0066  |  Fax: 208-514-0998
<(208)%20514-0998>

PO Box 6574  |  491 E. 10th Street, Suite A9  |  Ketchum, ID 83340

*WWW.FIRSTLITE.COM <http://www.firstlite.com/>*

[image: Inline image 4]

On Tue, May 28, 2019 at 6:45 PM ZHAO Xudong <notifications@github.com

[2019-06-04 18:18] nabooska commented on #141
Hey Zhao,

What is the best time for you? Let me know and we will arrange our team to
be there

Thanks,

*NATE LIJEWSKI*

CUSTOMER SERVICE REPRESENTATIVE

Direct: 208-806-0057 |  Office: 208-806-0066  |  Fax: 208-514-0998
<(208)%20514-0998>

PO Box 6574  |  491 E. 10th Street, Suite A9  |  Ketchum, ID 83340

*WWW.FIRSTLITE.COM <http://www.firstlite.com/>*

[image: Inline image 4]

On Wed, May 29,

[2019-06-05 02:23] zxdong262 commented on #141
@nabooska Sended a meeting link to nate@firstlite.com, it is USA mountain standard time 10:00 AM 2019.06.05, you can suggest a new time as you may need.

[2019-06-05 08:26] diademsports opened #142 "Hubspot - Quickbooks"
Hi,

I am wondering if there is demand for a hubspot-quickbooks embedded plugin as I can definitely benefit from it.  There isn't a lot of collaboration between the 2 currently with only a few options to integrate through Zapier.  If there was an extension that could allow for instant integration of;
-Contact Updates
-Estimate/Invoice creation
-Sales data of Contacts

![invoice](https://user-image

[2019-06-06 16:22] bjsvec commented on #142
I use both products and like the idea.  I don't think this is the right place to ask about it though.  This is a RingCentral project discussion and no one from HubSpot or Intuit is here I think.

[2019-06-06 16:23] diademsports commented on #142
You are probably right, seemed weird, but was given the link by the creator
when I emailed him.

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Cell: 208.866.5254
Fax: 561.244.3097
www.diademsports.com
Boynton Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

On Thu, Jun 6, 2019 at 12:22 PM bjsvec <notifications@github.com> wrote:

[2019-06-06 16:31] bjsvec commented on #142
The creator of?

[2019-06-06 16:32] diademsports commented on #142
Mr Zhao, the person listed as the developer on the extension.

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Cell: 208.866.5254
Fax: 561.244.3097
www.diademsports.com
Boynton Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

On Thu, Jun 6, 2019 at 12:31 PM bjsvec <notifications@github.com> wrote:

[2019-06-09 23:44] zxdong262 commented on #142
@diademsports @bjsvec I do not know about Quick books, if it is quite popular, it is possible that RingCentral provide integration for it, I would talk to my manager about this.

[2019-06-09 23:45] diademsports commented on #142
It would be for Hubspot the integration is needed.

On Sun, Jun 9, 2019 at 6:44 PM ZHAO Xudong <notifications@github.com> wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Cell: 208.866.5254
Fax: 561.244.3097
www.diademsports.com
Boynton Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-06-14 21:31] JasonIFI opened #143 "Not available in "Deal" section of HubSpot"
After installing this app, the RingCentral call option is available while viewing all Contacts and while viewing an individual Contact record in HubSpot. But it's not available in the "Deal" section of HubSpot where we want to call from.

[2019-06-17 08:22] zxdong262 commented on #143
Thank you for the feedback, I will add this, maybe next week.

[2019-06-18 07:57] zxdong262 commented on #140
@SeaFist
Done! Call recording support, can you try this?

<img width="489" alt="Screen Shot 2019-06-18 at 3 56 13 PM" src="https://user-images.githubusercontent.com/1641949/59663449-a6959200-91e1-11e9-9a42-ee9df1395800.png">

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.5.15

[2019-06-18 07:58] zxdong262 commented on #140
@SeaFist Only after call log synced, you can see the recording link.

[2019-06-18 22:33] zwardfmg opened #144 "Call Queue Feature Request"
Currently, there is no Call Logging or Recording available when using the Call Queue feature - is it possible to allow end users to use Call Queues while still having calls automatically recorded?

[2019-06-18 23:22] zxdong262 commented on #144
@embbnux

[2019-06-20 07:52] embbnux commented on #144
@zwardfmg Do you mean logging call that answered in other extension user? If the extension user that answered the call is using this hubspot extension, the call should be logged.

[2019-06-20 22:37] SeaFist commented on #140
Is the call log sync automatic?

On Tue, 18 Jun 2019 at 15:58, ZHAO Xudong <notifications@github.com> wrote:

--
Ross Randall Recoter
+63927.675.3825

[2019-06-20 23:57] zxdong262 commented on #140
@SeaFist There is auto call log switch in setting, when it is ON, call log sync is automatic.

[2019-06-21 20:26] nabooska commented on #141
Want to try it on? We offer free returns and exchanges on all full priced orders.

Products (https://email.firstlite.com/e2t/sc2/Mm-nFbjWgdYW8MVDwf4_J-zHW8xW4f_94Qd0VW5QLkKn8wtY5tf1FXffT03 )
Gear (https://email.firstlite.com/e2t/sc2/Mm-nFbjWgdYW8MVDwf4_J-zHW8xW4f_94Qd0VW5QLkKn8wtY5tf1FXffT13 )
About Us (https://email.firstlite.com/e2t/sc2/Mm-nFbjWgdYW8MVDwf4_J-zHW8xW4f_94Qd0VW5QLkKn8wtY5tf1FXffT23

[2019-06-21 20:26] nabooska commented on #141
Want to try it on? We offer free returns and exchanges on all full priced orders.

Products (https://email.firstlite.com/e2t/sc2/MmZ-8yk7th8W53-5Jt6Yg5jdW854pJt77XmjYW19kNhW89K6dSdBzP8M04 )
Gear (https://email.firstlite.com/e2t/sc2/MmZ-8yk7th8W53-5Jt6Yg5jdW854pJt77XmjYW19kNhW89K6dSdBzP8N04 )
About Us (https://email.firstlite.com/e2t/sc2/MmZ-8yk7th8W53-5Jt6Yg5jdW854pJt77XmjYW19kNhW89K6dSdBzP8P04 )

[2019-06-21 20:26] nabooska commented on #141
Want to try it on? We offer free returns and exchanges on all full priced orders.

Products (https://email.firstlite.com/e2t/sc2/Mm-nFbk4h1qW6p52NY5PYqLgW4VCL4C5Dcqm9W5d8BFg9346Gff1FXffT03 )
Gear (https://email.firstlite.com/e2t/sc2/Mm-nFbk4h1qW6p52NY5PYqLgW4VCL4C5Dcqm9W5d8BFg9346Gff1FXffT13 )
About Us (https://email.firstlite.com/e2t/sc2/Mm-nFbk4h1qW6p52NY5PYqLgW4VCL4C5Dcqm9W5d8BFg9346Gff1FXffT23

[2019-06-23 20:26] nabooska commented on #141
Products (https://email.firstlite.com/e2t/sc2/Mm-nFbk1lvTW8Z521m8M-MgxW7Jyzj-9k3pYBW4Mwv558CQs6df1FXffT03 )
Gear (https://email.firstlite.com/e2t/sc2/Mm-nFbk1lvTW8Z521m8M-MgxW7Jyzj-9k3pYBW4Mwv558CQs6df1FXffT13 )
About Us (https://email.firstlite.com/e2t/sc2/Mm-nFbk1lvTW8Z521m8M-MgxW7Jyzj-9k3pYBW4Mwv558CQs6df1FXffT23 )

Transporting moisture away from your body and efficiently regulating your body'

[2019-06-23 20:26] nabooska commented on #141
Products (https://email.firstlite.com/e2t/sc2/MmZ-8yjWyrYW67nb5g7ZsWyFW5FZ-2S7T5_5HVSzVf-5mrkb_dBzP8M04 )
Gear (https://email.firstlite.com/e2t/sc2/MmZ-8yjWyrYW67nb5g7ZsWyFW5FZ-2S7T5_5HVSzVf-5mrkb_dBzP8N04 )
About Us (https://email.firstlite.com/e2t/sc2/MmZ-8yjWyrYW67nb5g7ZsWyFW5FZ-2S7T5_5HVSzVf-5mrkb_dBzP8P04 )

Transporting moisture away from your body and efficiently regulating your body's temp

[2019-06-23 20:26] nabooska commented on #141
Products (https://email.firstlite.com/e2t/sc2/Mm-nFbjVkY7W6-nW6R8H__mFW6Rch8Z64XVnXW54gpF74JJpL2f1FXffT03 )
Gear (https://email.firstlite.com/e2t/sc2/Mm-nFbjVkY7W6-nW6R8H__mFW6Rch8Z64XVnXW54gpF74JJpL2f1FXffT13 )
About Us (https://email.firstlite.com/e2t/sc2/Mm-nFbjVkY7W6-nW6R8H__mFW6Rch8Z64XVnXW54gpF74JJpL2f1FXffT23 )

Transporting moisture away from your body and efficiently regulating your body'

[2019-06-24 02:42] zxdong262 opened #145 "Seems not updating cache right"

[2019-06-24 02:43] zxdong262 commented on #145
ANd auto call log sync with undefined txt

[2019-06-24 02:56] #145 closed

[2019-06-27 01:18] zxdong262 commented on #143
@JasonIFI https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.6.1
Now it support call log sync to deal and add click-to-call button to deal page.

[2019-06-27 01:19] zxdong262 commented on #143
Close, feel free to reopen it or open new thread, thank you for the feedback.

[2019-06-27 01:19] #143 closed

[2019-07-02 15:58] ennaillek opened #146 "Phone number not loading when using application"
When clicking the phone icon from within hubspot, the application pops up and phone number loads for a split second but then goes away.  The text icon works perfectly.  Anyone else having this issue?
![image](https://user-images.githubusercontent.com/52462640/60527687-537b0f00-9cb8-11e9-82ca-7aa352a44f84.png)

[2019-07-02 23:52] zxdong262 commented on #146
@ennaillek Hi, I tried, it works, so are you using the latest release?

[2019-07-03 16:28] ennaillek commented on #146
Hi there,
I have tried on 5.11 and 6.1.   In effect, the calling doesn’t trigger.  The phone number pops up, tries to initiate the call and then goes away.  I am seeing these errors:

[cid:image001.png@01D53192.6FF26340]

From: ZHAO Xudong <notifications@github.com>
Reply-To: ringcentral/hubspot-embeddable-ringcentral-phone <reply@reply.github.com>
Date: Tuesday, July 2, 2019 at 6:52 PM
To: ringce

[2019-07-03 23:34] zxdong262 commented on #146
@ennaillek Can not see images from email.

[2019-07-09 14:55] dfranklin72 commented on #121
having the same issue with the latest version. Any update on this please?

[2019-07-09 23:27] zxdong262 opened #147 "Add more detail to call log"
![image](https://user-images.githubusercontent.com/1641949/60929495-2a740300-a2e4-11e9-9eea-c6a75649a52f.png)

[2019-07-09 23:32] zxdong262 commented on #121
@TobiasLicker @tgreen12 @dfranklin72 Sorry, missed the message, can you check this: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137.

[2019-07-10 16:33] tgreen12 commented on #137
If I try to call someone from my Tasks list it says no phone number is associated with this contact even though you can call the same person/number from the app.

[2019-07-10 23:51] SeaFist opened #148 "Contact Layout"
![hubspot](https://user-images.githubusercontent.com/48298504/61012240-36c59200-a3b0-11e9-802b-54ad8bae0341.png)

When someone call me on RingCentral the contact window pops up in Hubspot but it sticks like 3/4 and show a few information.

I suggest to make the Note floating and centered on that frame. Make the contact all the way, instead of showing some parts of it since it can be closed.

Pleas

[2019-07-11 01:26] zxdong262 commented on #148
Will do, thank you for the suggestion.

[2019-07-11 05:21] zxdong262 commented on #148
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.7.0 Can you try this?

[2019-07-11 05:21] zxdong262 commented on #147
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.7.0

[2019-07-11 17:35] maclay77 commented on #148
Hi there! I am having this same issue. I updated to v0.7.0 Is there a way to get it to bee all the way across the screen? Or at the very least get it to where it doesn't cut off the information on the left-hand side of the contact info from HubSpot?
![screencapture-app-hubspot-reports-dashboard-4057774-sales-2019-07-11-13_35_09](https://user-images.githubusercontent.com/52797090/61072202-cd11ac00-

[2019-07-12 01:45] zxdong262 commented on #148
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.7.1
A new release, now the popup is full width. You may try it.
@SeaFist @maclay77

[2019-07-12 14:12] maclay77 commented on #148
@zxdong262 thanks so much for your help. I tested the new update and it seems to have created a few more issues.

1. whenever the searched for contact pops up you can't see the very top of the screen as it is covered by the orange "contact" bar. maybe there's a way to have the hubspot contact screen begin below the orange bar
2. when a call ends the full-screen slides left and becomes a 1/3 screen

[2019-07-12 16:30] KevinExpress commented on #148
I am having the  same issues as maclay77
plus when i call comes in it does not pop any contact information only when you answer a call

[2019-07-15 02:28] zxdong262 commented on #148
@KevinExpress @maclay77 Sorry, will fix asap.

[2019-07-15 02:42] zxdong262 commented on #148
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.7.2

@maclay77 @KevinExpress Should fix now.

[2019-07-15 02:48] zxdong262 commented on #148
@KevinExpress Outbound call will not trigger popup, it is designed like this, suggested by some other user who think it is not needed since caller already know who he wants to call. But if you have your reason to enable it, please let me know.

[2019-07-15 15:40] KevinExpress commented on #148
@zxdong262 Thank you for support in fixing the problem
So far it working great if there are any problems will let you know

[2019-07-15 16:22] maclay77 commented on #148
I actually have one more request in regards to this. Is there a way to get the popup to open in a separate tab? The only issue with this layout is that it closes completely when the call ends and I lose the ability to finish editing or making notes for a contact.

[2019-07-16 00:18] zxdong262 commented on #148
@maclay77 https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v0.7.3 Removed the auto close.

[2019-07-18 10:52] dfranklin72 opened #150 "RC call integration not working with call logging."
Frustratingly we are still manually recording calls as the RC integration does not seem to log any call details in HUBSPOT.

[2019-07-18 15:00] maclay77 opened #151 "Search for Companies"
Hi there! This app has been very helpful for my company. The only issue I've had with it is that my business puts most of our information under _Companies_ instead of _Contacts_. I wanted to see if there was a way to have all the features this currently has but searches for companies instead of contacts?

[2019-07-19 02:14] zxdong262 commented on #151
Hi @maclay77, Can you provide more detail about this, I do not understand the feature you described, maybe some screenshots?

[2019-07-19 02:17] zxdong262 commented on #150
Hi @dfranklin72 Do you mean the auto call log feature not working? If so, can you check this article: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137, maybe it will solve your problem.

And do try the latest release. Let me know if you still have problem.

[2019-07-19 13:16] maclay77 commented on #151
@zxdong262 I was wondering if there was a way for this feature to search for Companies instead of Contacts? Right now the app pulls up a Contact from HubSpot. I wanted to see if there was a way for it to pull up a Company

[2019-07-19 19:11] dnorb2019 commented on #147
Thanks, @zxdong262 .

[2019-07-19 19:16] SethBasenet commented on #147
@zxdong262 thanks for the update, I have been speaking with David at ringcentral and i was wondering is there a way to update another feature. Basically when i make a call using ringcentral its updating the contact, which is great, but it is at the same time not updating the company for which the contact is under. so when my sales reps are reaching out to these contacts at companies and calling th

[2019-07-22 00:49] zxdong262 commented on #147
@SethBasenet Thank you for the feedback, seems can be done, maybe in a day or two.

[2019-07-22 02:48] zxdong262 commented on #151
Do you mean another company list or search company name, show all contacts in that company? @maclay77

[2019-07-22 02:49] zxdong262 commented on #147
@SethBasenet https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.0.0 Can you try this new release? Now it should sync to company

[2019-07-22 13:20] maclay77 commented on #151
Search Company Name. It would be very similar to what it already does, but it brings up a _Company_

[2019-07-22 15:16] SethBasenet commented on #147
Thats great ZXdong

another issue is that we are unable to use the ringcentral widget from the company page. if you look at the screenshots from the last issue on the customer page i am able to click the ringcentral button underneathe the person but not under the company...any luck with this?

[2019-07-23 03:11] zxdong262 commented on #147
@SethBasenet Sure, consider it done! Thank you the feedback!

[2019-07-23 03:15] zxdong262 commented on #151
@maclay77 I understand it now, will do, maybe in a few days.

[2019-07-23 19:55] SethBasenet commented on #147
@zxdong262 you are the man

[2019-07-24 15:11] SethBasenet commented on #147
Just let me know when you complete this please

[2019-07-25 02:55] zxdong262 commented on #151
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.1.0

Support company as contact and company list click to call, now you can search and check company in RingCentral widgets.

[2019-07-25 02:56] zxdong262 commented on #147
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.1.0

Support company as contact and company list click to call, now you can search and check company in RingCentral widgets.

@SethBasenet

[2019-07-25 11:16] dfranklin72 commented on #150
Yes the auto log feature. I had a look through the article 137. It has made no difference. Even if i try and log the calls manually from the RC client they do not resister in Hubspot.

[2019-07-25 13:39] SethBasenet commented on #147
@zxdong262 i dont see this working can you send me a screenshot from your side

[2019-07-26 00:00] zxdong262 commented on #147
@SethBasenet Here:

<img width="809" alt="Screen Shot 2019-07-26 at 7 58 25 AM" src="https://user-images.githubusercontent.com/1641949/61916496-5a293900-af7b-11e9-87e1-7d1aa91e966d.png">
<img width="302" alt="Screen Shot 2019-07-26 at 7 58 57 AM" src="https://user-images.githubusercontent.com/1641949/61916498-5a293900-af7b-11e9-966e-cc092097cdf0.png">
<img width="303" alt="Screen Shot 2019-07-26 a

[2019-07-26 13:01] SethBasenet commented on #147
@zxdong262 i mean on this page
![Company Screenshot](https://user-images.githubusercontent.com/53097016/61953282-02430000-af84-11e9-9b68-f70a4735ff9b.png)

[2019-07-27 10:47] zxdong262 commented on #147
@SethBasenet Oh, I see, will do it next week.

[2019-07-30 05:51] zxdong262 commented on #147
@SethBasenet
Done!
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.3.1

[2019-07-30 13:14] SethBasenet commented on #147
Hey ZXdong

before i download it can you send me a screenshot of it

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3BA2E.907205D0]

On Tue, Jul 30, 2019 at 1:51

[2019-07-30 20:46] zxdong262 commented on #147
<img width="794" alt="Screen Shot 2019-07-30 at 3 21 30 PM" src="https://user-images.githubusercontent.com/1641949/62164011-291b8080-b34e-11e9-9dac-923f1df4aa11.png">

[2019-07-30 20:52] SethBasenet commented on #147
wow that looks fantastic, is there a way for when i get an incoming call
for there to be a preview window that pops up for who is calling me. i have
seen it before on the hubspot side but not sure of its potential from your
side

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.K

[2019-07-30 23:42] zxdong262 commented on #147
@SethBasenet Yes, should popup a user info window when inbound call comes.

[2019-07-31 14:31] SethBasenet commented on #147
i dont thank that is happening, can you test it from your side

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3BA2E.907205D0]

On Tue, Jul 30, 2019 at 7:42 PM ZH

[2019-08-01 01:23] zxdong262 commented on #147
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.3.3

A new release, fixed popup for company, can you try it?

@SethBasenet

[2019-08-02 06:32] zxdong262 commented on #151
Close it now, feel free to reopen it or create another issue, thank you for the feedback!

[2019-08-02 06:32] #151 closed

[2019-08-06 18:27] diademsports opened #152 "SMS and Call not working from Contact screen"
Randomly today without any changes in updating or upgrading the software I am no longer able to click SMS or Call from the contact list screen.  The system says, "no phone number for this contact"  While in their contact page, it does work.

Any
![Untitled1](https://user-images.githubusercontent.com/51383281/62566121-3eb10e80-b856-11e9-9953-e56153cb80cb.png)

[2019-08-07 03:22] zxdong262 commented on #152
Can you try the latest release? @diademsports I can not reproduce this

[2019-08-07 06:40] diademsports commented on #152
I did.

It’s on our sales teams computer as well.  Not on same network.

On Tue, Aug 6, 2019 at 11:22 PM ZHAO Xudong <notifications@github.com>
wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Cell: 208.866.5254
Fax: 561.244.3097
www.diademsports.com
Boynton Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-08-07 07:25] zxdong262 commented on #152
@diademsports Can we have a meeting to check this situation? If possible, you can decide the time, just tell your timezone and email, I will set the meeting, any time is OK.

[2019-08-07 11:26] diademsports commented on #152
I’m in Florida. Eastern US.  Anywhere from 9am to 9 pm is good.

On Wed, Aug 7, 2019 at 3:25 AM ZHAO Xudong <notifications@github.com> wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Cell: 208.866.5254
Fax: 561.244.3097
www.diademsports.com
Boynton Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-08-07 14:06] SethBasenet commented on #147
hey ZXdong

having an issue where none of the calls are being logged in hubspot, just
says that there is an error syncing the cll

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:

[2019-08-07 23:54] SeaFist opened #153 "On the Contact Page"
Unable to call from the contact page.

![No Phone number for this Contact](https://user-images.githubusercontent.com/48298504/62665363-90ba7700-b9b1-11e9-86ed-46f706b23829.PNG)

Will be able to call customer after clicking on the contact and showing the customer contact information.

[2019-08-08 00:49] zxdong262 commented on #152
@diademsports I can reproduce the bug now, Hubspot changed their dom structure, a new release with fix: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.3.7

[2019-08-08 00:49] #152 closed

[2019-08-08 00:49] zxdong262 commented on #153
A new release with fix: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.3.7 @SeaFist

[2019-08-08 00:49] #153 closed

[2019-08-08 19:39] SethBasenet commented on #147
Hey, my extensions stopped logging calls

im also getting udpates for 1.3.7 which i downloaded

can you look into this why my calls are now not logging

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA

[2019-08-09 00:04] zxdong262 commented on #147
@SethBasenet Sure, I will check this.

[2019-08-09 00:32] zxdong262 opened #154 "Save background page network log har file"
1. Open background page console
![11](https://user-images.githubusercontent.com/1641949/62745974-04c35080-ba80-11e9-9190-3b89845e409e.png)

2. switch to network tab, right click, save HAR file
![22](https://user-images.githubusercontent.com/1641949/62745975-04c35080-ba80-11e9-98ff-622a190c4d30.png).

That is it.

[2019-08-09 00:33] zxdong262 commented on #147
@SethBasenet I can reproduce this issue, can you provide the HAR log for me, here is a guide how to do it.

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/154

[2019-08-09 08:45] #154 closed

[2019-08-09 13:39] SethBasenet commented on #147
please see attached HAR file

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3BA2E.907205D0]

On Thu, Aug 8, 2019 at 8:33 PM ZHAO Xudong <notifications@github.com

[2019-08-09 18:06] AjDiadem opened #155 "Text Search Not working"
I am no longer able to search my text field and pull up past text conversations. It's only pulling up messages from the day or two before, which before I could access any conversation I had previously started.

Please see the screen shot. The log in the contact shows I previously texted Ean Meyer, in the ring central extension only William Meyer pulls up in the search because I texted him today.

[2019-08-12 00:25] zxdong262 commented on #147
@SethBasenet Email will not send attachment or image to github thread.

[2019-08-12 00:27] zxdong262 commented on #155
@AjDiadem Hi, no screen shot in the post, can you try again?

[2019-08-12 02:27] zxdong262 commented on #147
@SethBasenet You can send har file to my email drake.zhao@ringcentral.com

[2019-08-13 05:54] AjDiadem commented on #155
![Screen Shot 2019-08-09 at 10 19 10 AM](https://user-images.githubusercontent.com/53950583/62918326-ea7dc100-bd64-11e9-9e19-f5d50ee75150.png)

[2019-08-13 09:09] zxdong262 commented on #155
@embbnux Can you check this one?

[2019-08-14 16:19] SethBasenet commented on #147
i sent the file did you get it?

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3BA2E.907205D0]

On Sun, Aug 11, 2019 at 10:28 PM ZHAO Xudong <notifications@githu

[2019-08-15 00:30] zxdong262 commented on #147
@SethBasenet Yes, I got the file, sorry, other things interrupt me, make me forgot about it, will analyze it now.

[2019-08-15 00:35] zxdong262 commented on #147
@SethBasenet Can not see any related api request in har log, so you save the har after call log, right? If so, the error may happens in other phase, maybe we could have a meeting to find out why.

[2019-08-15 01:05] SethBasenet commented on #147
Could it be that I have downloaded other versions of the extension. Other
then the last one you sent me?

Please excuse any typos, as this was sent from my phone.

On Wed, 14 Aug. 2019, 8:35 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-15 01:15] zxdong262 commented on #147
@SethBasenet Should not be that reason, you may test different version to confirm

[2019-08-15 01:16] SethBasenet commented on #147
Can you send me the latest version you worked on? I'll go back to the
version

Please excuse any typos, as this was sent from my phone.

On Wed, 14 Aug. 2019, 9:15 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-15 01:20] zxdong262 commented on #147
It is all in https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases

[2019-08-15 01:23] SethBasenet commented on #147
1.3.8? That's what I'm using and it's not working

Please excuse any typos, as this was sent from my phone.

On Wed, 14 Aug. 2019, 9:20 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-15 03:06] embbnux commented on #155
Hi @AjDiadem , can the widget load older messages when you scroll message list without search?
The widget now only supports to search message that loaded in local. And it only prefetches 150 messages (max 15 for every message conversation).

[2019-08-15 03:12] AjDiadem commented on #155
Yes, i can scroll recent messages.

It use to be able to search any contact . Another one of my team members is
still able to search his entire message log.

Is there an older version that I can go back to? I really need this
feature.

Thanks,
AJ

On Wed, Aug 14, 2019 at 10:06 PM Embbnux Ji <notifications@github.com>
wrote:

--
AJ Bartlett
Director of Sales / Marketing
1.844.4.DIADEM
Cell: 323.573

[2019-08-15 22:47] jmlugares opened #156 "Contact Issue"
Hello Team,

I have an ongoing issue with Hub spot after installing 1.3.8. I am unable to sync the softphone app and getting an error "No Related Contacts" even after clicking the refresh button. Please see screen shot as reference

![image](https://user-images.githubusercontent.com/52936394/63131827-a0f5d600-bff1-11e9-974d-469c7ee62008.png)

[2019-08-16 00:54] zxdong262 commented on #156
Please check this: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137

Since it shows number, not a contact name, it means it is not synced to widgets contacts list, you may check the contacts-hubspot filter. You can open browser console to check if there are errors after click reload contacts, if you have many contacts, you may take a while to finish sync, make sure it

[2019-08-19 01:20] zxdong262 commented on #150
@dfranklin72 Sorry for the delay, hope we could have a meeting to find out why.

[2019-08-19 01:21] #148 closed

[2019-08-20 16:35] SethBasenet commented on #147
any feedback drake?

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3BA2E.907205D0]

On Wed, Aug 14, 2019 at 9:23 PM Seth Krawitz <seth@basenetsystems.com>
wrote:

[2019-08-20 20:38] zxdong262 commented on #147
@SethBasenet Can not see any related api request in har log, so you save the har after call log, right? If so, the error may happens in other phase, maybe we could have a meeting to find out why.

[2019-08-20 22:36] SethBasenet commented on #147
I can do that aswell.  Also I used 1.3.3 and it works better any other
version after that isn't working

Please excuse any typos, as this was sent from my phone.

On Tue, 20 Aug. 2019, 4:38 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-20 22:45] zxdong262 commented on #147
@SethBasenet Thank you, I will check 1.33+ changes first.

[2019-08-20 22:48] SethBasenet commented on #147
Thanks I hope that info helps. 1.3.3 is working ok

Please excuse any typos, as this was sent from my phone.

On Tue, 20 Aug. 2019, 6:45 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-22 00:42] zxdong262 commented on #147
@SethBasenet I checked the code, 1.34-1.38 would not break the function, should be all the same, and confirmed It works, I even test the firefox extension in chrome, it works too.

[2019-08-22 00:44] SethBasenet commented on #147
Can you check 133 and 138 133 works and 134 doesnt

Please excuse any typos, as this was sent from my phone.

On Wed, 21 Aug. 2019, 8:42 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-22 01:05] zxdong262 commented on #147
@SethBasenet 1.38 works for sure, just checked

[2019-08-22 01:10] SethBasenet commented on #147
What can I send you to show you the issue

Please excuse any typos, as this was sent from my phone.

On Wed, 21 Aug. 2019, 9:05 pm ZHAO Xudong, <notifications@github.com> wrote:

[2019-08-22 01:13] zxdong262 commented on #147
@SethBasenet open the background console first, then try to reproduce the issue, then save the har file, browser console errors if there are any.

[2019-08-23 16:49] diademsports opened #157 "Blank Extension"
Without any update or change on my end I am not no longer able to see my Ring Central extension.  It is just a white screen, I can hear incoming calls, but cannot answer them.

I am wondering if maybe Chrome did an update and it is messing up the extension?
![RingCentral ext blank](https://user-images.githubusercontent.com/51383281/63609120-8056ee80-c5a4-11e9-8ba5-91f3a652d9f5.jpg)

[2019-08-26 02:00] embbnux commented on #157
hi @diademsports Can you open the chrome developer console and refresh page to check any error it developer console and network.  Open dev console by 'right click' and select `inspect`
![image](https://user-images.githubusercontent.com/7036536/63660269-4118df80-c7e8-11e9-9729-56cdae4ac28f.png)

[2019-08-26 02:02] embbnux commented on #157
We got same issue before, it was caused by chrome's render issue. Chrome has some issues in iframe rendering in some versions. Need to check this.

[2019-08-26 13:26] diademsports commented on #157
Yes, there seem to be many errors.
![errors](https://user-images.githubusercontent.com/51383281/63694050-930b3680-c7e3-11e9-8817-47e76f41ccab.jpg)

[2019-08-27 02:10] zxdong262 commented on #157
@diademsports How is click to call or other function works?

[2019-08-27 02:12] diademsports commented on #157
Click to call and text works, but I cannot use the screen after that. And I
need to refresh page in order to do so.

On Mon, Aug 26, 2019 at 10:10 PM ZHAO Xudong <notifications@github.com>
wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-08-27 03:05] zxdong262 commented on #157
@diademsports Any errors in console when you can not use the screen?

[2019-08-27 03:06] diademsports commented on #157
No errors when the extension is not in use.

On Mon, Aug 26, 2019 at 11:05 PM ZHAO Xudong <notifications@github.com>
wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-08-27 03:23] zxdong262 commented on #157
What do you mean about  "can not use the screen"?

[2019-08-27 03:25] diademsports commented on #157
The ring central screen is white as I showed in the screen shot once I
touch anyone button on the extension.  If I refresh page it will allow me
to click to call or text from the hubspot page but once I click any place
to end a call or change the screen in the extension it turns white.

On Mon, Aug 26, 2019 at 11:23 PM ZHAO Xudong <notifications@github.com>
wrote:

--

Evan Specht
Director of Oper

[2019-08-27 05:46] zxdong262 commented on #157
@diademsports Can you try disable all other extensions to confirm it is related to other extensions.

[2019-08-27 05:57] tmuehlherr opened #158 "Referring calls to new RingCentral Desktop App on Windows not working"
Hi, I had to re-install my computer, so I downloaded the new RingCentral desktop app from their website.
(About RingCentral, Version: 19.8.1 (E. 2.0.14), Build: 1095 (rev. 666395a), Copyright © 2019 RingCentral, Inc.)
It's now looking different and has a variety of new features.
I had your extension dialer configured to use the RingCentral desktop app to make outbound calls. It looks like it's sti

[2019-08-27 06:17] zxdong262 commented on #158
https://www.ringcentral.com/apps/rc-phone Can you try this one? Do you get a browser popup about opening RC app?

[2019-08-27 12:42] diademsports commented on #157
All extensions are deleted, newest update is installed and still a white
screen.

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

On Tue, Aug 27, 2019 at 1:46 AM ZHAO Xudong <notifications@github.com>
wrote:

[2019-08-27 13:19] diademsports commented on #157
When I click on hubspot page to text, now the Ring Central extension will
say - "Maximum number of 5 webphones could be registered" and "maximum
number of 5 web phones could be registed"  And then has "Web phone
unavailable"

Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/

[2019-08-28 01:08] zxdong262 commented on #157
@diademsports Are you using the latest release?

[2019-08-28 01:58] diademsports commented on #157
Yes. Latest release.

On Tue, Aug 27, 2019 at 9:08 PM ZHAO Xudong <notifications@github.com>
wrote:

--

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

[2019-08-28 07:38] embbnux commented on #157
@diademsports Can you refresh web page and try again. We updated some codes. It should fix errors that you added in upper

[2019-08-28 08:21] embbnux commented on #155
@AjDiadem can't reproduce this in my side. Can you check if there are any errors in chrome developer console. `right click and inspect page` to open chrome dev console.

In the widget, it only support to search data that loaded in local from server. To load more data, user need to scroll to bottom and trigger to load older data.

[2019-08-28 18:34] diademsports commented on #157
It seems to be working again! Thank you!

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

On Wed, Aug 28, 2019 at 3:38 AM Embbnux Ji <notifications@github.com> wrote:

[2019-09-02 05:07] #157 closed

[2019-09-04 14:29] diademsports opened #159 "Sound not working on calls"
I have the latest update, and since my issue with the WHITE screen was fixed I have not been able to hear calls in my head set.  I hear when I dial... so when I push a button to call I hear the beep, but I do not hear ringing, and I do not hear the person on the other side.  They can hear me.  My headset is setup properly.

[2019-09-05 01:33] zxdong262 commented on #159
@diademsports I confirmed it works in my env with my headset. Can you confirm that you selected your headset as output device?
<img width="203" alt="Screen Shot 2019-09-05 at 9 32 40 AM" src="https://user-images.githubusercontent.com/1641949/64304897-2e5c9280-cfc0-11e9-89a4-c78aa1ae461c.png">

[2019-09-05 11:47] diademsports commented on #159
I have several options on output, 4 of which are all the same just worded differently, and with all I can only hear when I push the numbers to dial a call there is beeps.  Strangely sometimes I do not hear those either.   None I hear the ringing or the person when they answer.
![output devices](https://user-images.githubusercontent.com/51383281/64339179-69a39500-cfb1-11e9-9a73-8909557824ce.jpg)

[2019-09-05 18:21] akfurrer opened #160 "Call recording log location"
I want my recorded calls to be logged to the contact I called, and right now they're being logged to my company that I'm making the calls from. Is this something that I can change?

[2019-09-05 18:32] zxdong262 commented on #160
@akfurrer So the company has same number as the contact?

[2019-09-05 18:41] zxdong262 commented on #159
@diademsports How about set use default device, and set output device from your OS's setting?

[2019-09-05 18:55] akfurrer commented on #160
No, but our company is in Hubspot as a contact and the phone number is a Ring Central number. So when I use the RingCentral extension to call one our business contacts through Hubspot, I want the call recording to be in the activity of whichever contact I called. But instead, it logs it under our company's activity because that's the number that was used to call.

[2019-09-05 18:59] diademsports commented on #159
I had the issue several times before and it would eventually go away when I messed with Output device. This time, which began over a week ago, I have tried every combo, and none work.   Default, Headset, etc.

[2019-09-05 19:31] zxdong262 commented on #159
@diademsports Can you try this in a different PC to see if it works?

[2019-09-05 19:39] zxdong262 commented on #160
@akfurrer As I tested, it will be synced to the contact and the company's log, what is your situation?

[2019-09-05 19:46] diademsports commented on #159
It does work on my colleagues computer, he has no issues as of now.   But
the head set also works fine on my PC with sounds, and the headset works
when paired to my cell phone.

Evan Specht
Director of Operations
Toll: 1.844.434.2336
Cell(w): 561.366.2738
Fax: 205.725.6609
www.diademsports.com
Pompano Beach, FL
Instagram: @diademsports <http://www.instagram.com/diademsports>

On Thu, Sep 5, 2019 a

[2019-09-05 20:05] akfurrer commented on #160
The situation is that it's not syncing to the contact for me, it's only syncing to the company. And I need to know if there's something on my end I need to change or if this is something written into the extension.

[2019-09-09 00:53] zxdong262 commented on #160
@akfurrer I can not reproduce this issue, if you can have a meeting with me, maybe I can find out why.

[2019-09-09 14:09] akfurrer commented on #160
Okay, how can we set up a meeting?

[2019-09-10 01:15] zxdong262 commented on #160
@akfurrer Just tell me your timezone and available time range, I will schedule the meeting and send you the meeting link.

[2019-09-13 13:37] akfurrer commented on #160
@zxdong262 Sorry it's taken me awhile to respond. I'm in Eastern Standard Time, and I can do either Monday or Tuesday between 8:30 am and 6 pm.

[2019-09-16 00:14] zxdong262 commented on #160
@akfurrer I forget to mention email, please send your email address to drake.zhao@ringcentral.com so I will reply you the meeting link and calendar info.

[2019-09-17 23:39] TheMeng opened #161 "Contact issue"
I am having a problem with hubsopt contacts making it to my iphone app. They show up in the ring central extension but not the iphone app...any suggestions?

[2019-09-17 23:45] zxdong262 commented on #161
Hi @TheMeng
It only works in browser, would not save Hubspot contacts to RingCentral database, but you could see call/sms history in mobile app.

[2019-09-25 07:34] dochollywood8 opened #162 "Sending SMS from Hubspot Workflows (Automation)"
Feature request -
Is it possible to send out SMS messages through Hubspot workflows (automation)?

[2019-09-25 07:37] zxdong262 commented on #162
@dochollywood8 Hi, can you provide more detail, I am not familiar with Hubspot workflow.

[2019-09-25 08:07] dochollywood8 commented on #162
Hubspot workflows are the part if the Hubspot platform that enables
marketing and sales automation.

For example, workflows allow a business to enroll all contacts who meet
specific criteria (for example, all contacts who are new signups to GitHub
if Github were the business) into an automated workflow, such as sending
out specific emails or text messages at specific times.

One of Hubspots missin

[2019-09-25 08:09] zxdong262 commented on #162
@dochollywood8 Thank you for the feedback, I will look into this, seems interesting!

[2019-09-25 08:13] dochollywood8 commented on #162
Yes, you can see there platforms Just Call, Kixie, and Simplii/Fusion with
more robust Hubspot integrations including workflows, call dispositioning,
and voicemail drops.

Larry Fan, MD
Sent from my phone. Please excuse any typos.

On Wed, Sep 25, 2019, 01:09 ZHAO Xudong <notifications@github.com wrote:

[2019-10-10 18:19] jamisargent opened #163 "Contacts are loading as Company"
Contacts are pulling in but they are pulling in as company.
<img width="286" alt="Screen Shot 2019-10-10 at 2 18 01 PM" src="https://user-images.githubusercontent.com/44704294/66595402-e4d80800-eb68-11e9-8492-388fe100a4d2.png">

[2019-10-11 01:53] zxdong262 commented on #163
@jamisargent Only companies, no other contacts in the list?

[2019-10-11 14:17] jamisargent commented on #163
Yes, when you filter by Hubspot all the contacts show up like that.
Thank you,
~*Jami*

Jami Sargent, Chief of Staff
*FTR* | *Transportation Intelligence*
jsargent@ftrintel.com
Office: (812) 727-8307
Toll-Free Office: (888) 988-1699 x 50
www.FTRintel.com <http://www.ftrintel.com/>

On Thu, Oct 10, 2019 at 9:53 PM ZHAO Xudong <notifications@github.com>
wrote:

[2019-10-14 00:12] zxdong262 opened #164 "Call queue cause unnecessary missed call log"
Quote from `Jose Agudo`

![image (1)](https://user-images.githubusercontent.com/1641949/66724502-20205280-ee59-11e9-97b5-cfb51161614d.png)
![image (2)](https://user-images.githubusercontent.com/1641949/66724503-20b8e900-ee59-11e9-801b-6f99aca4745d.png)

[2019-10-14 00:12] zxdong262 commented on #164
@embbnux Can you check this?

[2019-10-15 01:38] embbnux commented on #164
Thanks @zxdong262, will track this

[2019-10-16 00:48] zxdong262 opened #165 "When same number in company contacts, may not trigger popup?"

[2019-10-16 02:08] zxdong262 commented on #165
Seems it is not the case

[2019-10-18 18:21] SeaFist opened #167 "Call Logging is not working"
[rcrecord_0.zip](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/files/3745168/rcrecord_0.zip)

[2019-10-18 18:22] SeaFist commented on #167
Hi @zxdong262,

[hubspot.zip](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/files/3745191/hubspot.zip)

Hello. I would like to report this from a customer of mine that had problems with the Hubspot integration that it is not call logging. Please see the har file and the video recording attached on the case.

[2019-10-18 18:31] SeaFist commented on #167
The Hubspot integration after installation was automatically authorized. Did unauthorize and authorized and still it did not do Call Log, saying that it did not found a contact associated with the phone number.

[2019-10-22 17:00] jackoutthebox11 commented on #167
I am the customer whose RingCentral integration is not logging calls in HubSpot that @SeaFist mentioned above. Hopefully someone can find a solution.

[2019-10-23 01:50] zxdong262 commented on #167
@jackoutthebox11 Hi, can you try the reload contacts button in contacts panel in RingCentral widgets.

<img width="317" alt="Screen Shot 2019-10-23 at 9 49 56 AM" src="https://user-images.githubusercontent.com/1641949/67349479-8fddbe00-f57a-11e9-8b17-28f84eaadd98.png">

[2019-10-23 01:52] jackoutthebox11 commented on #167
I'll try it right now

On Tue, Oct 22, 2019, 9:50 PM ZHAO Xudong <notifications@github.com> wrote:

[2019-10-23 02:02] jackoutthebox11 commented on #167
I don't have the same refresh button that you have under my widget's contacts tab.
![image](https://user-images.githubusercontent.com/56888015/67349987-78211e00-f517-11e9-912f-dae2854988de.png)

[2019-10-23 02:23] jackoutthebox11 commented on #167
@zxdong262 I may have figured it out. What through me off in the screenshot above was the RingCentral Google Chrome extension. When I clicked the Ringcentral Embeddable I did have that refresh button you did. Test call was logged but not recorded. I assume that's a ringcentral account setting. hopefuly this continues to work. If one is to use this embeddable integration with Hubspot it seems that

[2019-10-23 07:18] zxdong262 commented on #167
@jackoutthebox11 Thank you for the feedback!

[2019-10-23 14:05] SeaFist commented on #167
@jackoutthebox11 Thank you for confirmation. @zxdong262 Thank you always for the assistance.

[2019-10-23 16:38] tylerlong commented on #164
Can you guys reproduce this without embeddable? It  should be RingCentral Platform issue.

[2019-10-24 01:07] zxdong262 commented on #164
@tylerlong I was told this issue has been tracked by enterprise team.

[2019-10-24 21:33] finertouch opened #168 "SMS Messages no longer updating to hubspot"
In previous versions, after sending an SMS message in a contact record, that conversation was recorded in the Notes area of hubspot.  This info no longer syncs with hubspot once sent with RingCentral.

[2019-10-24 22:33] zxdong262 commented on #168
Hi, @finertouch So you mean, when sms with RingCentral desktop app, the log do not sync with Hubspot, but if send SMS from browser extension, it will sync?

[2019-10-24 23:48] finertouch commented on #168
It no longer syncs at all.  It worked up until a few days ago.  I did the update but it stopped working prior to that.  Thanks.

From: ZHAO Xudong <notifications@github.com>
Sent: Thursday, October 24, 2019 6:34 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: finertouch <ftemedia@gmail.com>; Mention <mention@noreply.github.com>

[2019-10-25 02:20] zxdong262 commented on #167
Close it, feel free to reopen it or submit another one if needed.

[2019-10-25 02:20] #167 closed

[2019-10-25 02:44] zxdong262 commented on #168
@finertouch Can you have a meeting with me so I can check the problem? If you can, you can send your available time and timezone to drake.zhao@ringcentral.com , I will set the meeting and send you the meeting link and time.

[2019-10-29 16:11] JohnMarsiano opened #171 "Hubspot integration issue with logs and voice recording."
It is important to our sales team to find a viable calling solution that works with Hubspot.
We have been using RingCentral for a number of years and have found a few issues with the integration.  I've spoke with David NorBerte about this.  He suggested we contact you.
Here's what we're seeing:

Outbound made using the "RingCentral for Hubspot" developer extension.
- The Voice Recording is not ava

[2019-10-30 06:32] zxdong262 commented on #171
@JohnMarsiano Hi, can we have a meeting to confirm the problem? If you can have a meeting with me, please send a email to drake.zhao@ringcentral.com with your available time and timezone, I will  schedule the meeting and send you the meeting link, Thank you for the feedback!

[2019-10-31 05:11] McGowan-b commented on #171
I'm having similar problems. Calls and call recordings are not being logged within Hubspot. Error message is 'no related contact'. This is true for all contacts at the moment - no calls are being logged.

[2019-10-31 13:14] zxdong262 commented on #171
@McGowan-b Can you check if you have authed, this note would help https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137

[2019-10-31 20:49] McGowan-b commented on #171
Yes. The embedded ring central piece has been authorised. It's the chrome
extension.

On Fri, Nov 1, 2019 at 12:14 AM ZHAO Xudong <notifications@github.com>
wrote:

--
Ben McGowan | Project Lead
Indigo Power
ben@indigopower.com.au
Ph: 0400 826 236

[2019-10-31 21:01] McGowan-b commented on #171
Previous versioned logged calls. This most recent version doesn't.

[2019-11-01 01:37] zxdong262 commented on #171
@McGowan-b Can we have a meeting to confirm your problem, if you can have a meeting with, please send your available time and timezone to drake.zhao@ringcentral.com, I will schedule the meeting and send you the meeting link.

[2019-11-04 00:15] McGowan-b commented on #171
Hi Drake,

How about Wednesday 6th November. I'm available all day at this stage
between 9am and 5pm. My time is Australian Eastern Standard Time. You can
feel free to send through a meeting request during those hours.

Cheers

On Fri, Nov 1, 2019 at 12:37 PM ZHAO Xudong <notifications@github.com>
wrote:

--
Ben McGowan | Project Lead
Indigo Power
ben@indigopower.com.au
Ph: 0400 826 236

[2019-11-22 02:07] TVI227 commented on #133
Hello @zxdong262,

We are experiencing the same issue as jin fhg in the below post. We have the most recent update. 1.5.1. We would appreciate any advice you can offer. Have tried syncing and unsyncing multiple times, the contacts in the RC widget and Hubspot are not showing any log of the calls. The call list is not attributing the call to the contact even tho they are in the widget. I have zero

[2019-11-22 02:25] zxdong262 opened #172 "Call log sync issue"
Hello @zxdong262,

We are experiencing the same issue as jin fhg in the below post. We have the most recent update. 1.5.1. We would appreciate any advice you can offer. Have tried syncing and unsyncing multiple times, the contacts in the RC widget and Hubspot are not showing any log of the calls. The call list is not attributing the call to the contact even tho they are in the widget. I have zero

[2019-11-22 02:28] zxdong262 commented on #172
@TVI227 Can we have a meeting, so I can confirm the problem, if you can, please send email to drake.zhao@ringcentral.com, with your available time next week, and timezone, I will schedule the meeting and send you meeting info.

[2019-11-22 02:31] TVI227 commented on #172
It appears to have fixed itself, apologies for wasting your time, perhaps it just needed more time to calibrate. you can close this

[2019-11-22 02:48] zxdong262 commented on #172
@TVI227 No problem at all, feel free to submit issues here, without users' feedbacks, this project would not go this far.

[2019-11-22 02:48] #172 closed

[2019-11-26 15:29] jin-fhg opened #173 "Hubspot not logging international Calls"
Hello @zxdong262

I have noticed so far that the International Calls are not being recognized as contacts when we try to dial out from the Integrated RingCentral widget in Hubspot. Please see the video attached. Please skip to timestamp 3:34 of the video:

https://drive.google.com/file/d/17R8PVrnEZ4dQk_GvE56dww8llU0OpTAd/view?usp=sharing

[2019-11-26 15:44] zxdong262 commented on #173
@jin-fhg Have you try the region settings, you can set country there, then the phone number without country code will be auto prefix with the country code you selected when matching, but for phone numbers other than this country you selected, must have country code, or it will be prefix with the selected country code when trying matching.

[2019-11-28 11:56] jin-fhg commented on #173
Hello @zxdong262

When you say the Region Settings. do you mean this?

![modified (7)](https://user-images.githubusercontent.com/49035508/69804222-083e3b80-1219-11ea-88e1-bec2c2ec07a7.png)

I was not able to select the country code of the Hubspot phone number that I am trying to dial here. Please let me know if I am looking at the right page.

[2019-11-29 06:06] zxdong262 commented on #173
@jin-fhg If you have number not from the region you selected, then the number must have country code.

[2019-11-29 06:09] zxdong262 commented on #173
@jin-fhg Are you using the latest release?

[2019-11-29 20:41] jin-fhg commented on #173
Hello @zxdong262,

Yes, I am using the latest release, and as you can see in the video, the numbers have an area code.

[2019-12-01 22:51] zxdong262 commented on #173
@jin-fhg Can we have a meeting? There could some error I do know. If you have can a meeting with me, please send you available time this week and timezone to drake.zhao@ringcentral.com

[2019-12-02 20:29] jin-fhg commented on #173
Hello @zxdong262
Can we do it tomorrow or on Wednesday at 7 AM EST?

[2019-12-03 01:30] zxdong262 commented on #173
@jin-fhg Sure, need to know your email so I can send you the meeting link

[2019-12-04 11:44] jin-fhg commented on #173
Hello @zxdong262

My email is eugene.flores@ringcentral.com and the affected customer's email is vlad2753575@gmail.com. Please schedule the meeting tomorrow.

Thank you.

[2019-12-05 12:26] jin-fhg commented on #173
Hello @zxdong262,

I have documented the issues we found during the meeting. I hope this helps:
1. Unable to log company record type
2. If the phone number does not have a + sign in the beginning, it dials out, but it does not log the call

Thank you again for your time earlier.

[2019-12-10 12:21] jin-fhg commented on #173
Hello @zxdong262
I have contacted the customer who is facing this issue to see if they have tried the latest release, but they still have the same issue.

[2019-12-12 05:33] zxdong262 commented on #128
Close it now, feel free to reopen it or submit another one.

[2019-12-12 05:33] #128 closed

[2019-12-12 05:33] #80 closed

[2019-12-12 05:33] #58 closed

[2019-12-12 05:34] #83 closed

[2019-12-12 05:34] #97 closed

[2019-12-12 05:34] #110 closed

[2019-12-12 05:34] #123 closed

[2019-12-12 05:35] zxdong262 commented on #127
Work on it now: https://github.com/ringcentral/ringcentral-integration-for-hubspot

[2019-12-12 05:35] #127 closed

[2019-12-12 05:36] zxdong262 commented on #134
Close it now, feel free to submit another one.

[2019-12-12 05:36] #134 closed

[2019-12-12 05:37] zxdong262 commented on #136
Close it now, feel free to submit another one.

[2019-12-12 05:37] #136 closed

[2019-12-12 05:37] zxdong262 commented on #131
Close it now, feel free to submit another one.

[2019-12-12 05:37] #131 closed

[2019-12-12 05:37] zxdong262 commented on #138
Close it now, feel free to submit another one.

[2019-12-12 05:37] #138 closed

[2019-12-12 05:38] zxdong262 commented on #139
Close it now, feel free to submit another one.

[2019-12-12 05:38] #139 closed

[2019-12-12 05:38] zxdong262 commented on #130
Close it now, feel free to submit another one.

[2019-12-12 05:38] #130 closed

[2019-12-12 05:39] zxdong262 commented on #140
Close it now, feel free to submit another one.

[2019-12-12 05:39] #140 closed

[2019-12-12 05:39] zxdong262 commented on #141
Close it now, feel free to submit another one.

[2019-12-12 05:39] #141 closed

[2019-12-12 05:39] zxdong262 commented on #147
Close it now, feel free to submit another one.

[2019-12-12 05:39] #147 closed

[2019-12-12 05:40] zxdong262 commented on #156
Close it now, feel free to submit another one.

[2019-12-12 05:40] #156 closed

[2019-12-12 05:40] zxdong262 commented on #96
Close it now, feel free to submit another one.

[2019-12-12 05:40] #96 closed

[2019-12-12 05:41] #165 closed

[2019-12-12 05:42] zxdong262 commented on #163
Sorry for the delay, is the new version working? @jamisargent

[2019-12-12 05:43] zxdong262 commented on #155
Close it now, feel free to submit another one

[2019-12-12 05:43] #155 closed

[2019-12-12 05:44] zxdong262 commented on #146
Close it now, feel free to submit another one.

[2019-12-12 05:44] #146 closed

[2019-12-12 05:44] zxdong262 commented on #121
Close it now, feel free to submit another one.

[2019-12-12 05:44] #121 closed

[2019-12-12 05:45] zxdong262 commented on #161
Close it now, feel free to submit another one.

[2019-12-12 05:45] #161 closed

[2019-12-24 00:09] Cbradish opened #174 "Attempting to integrate Ring Central with Hubspot. Completed the installation, however outbound calling defaults to the hubspot calling app. I am looking as to how to disable hubspot calling so that the RC calling app is used instead by default."

[2019-12-24 00:22] zxdong262 commented on #174
<img width="356" alt="Screen Shot 2019-12-24 at 8 21 35 AM" src="https://user-images.githubusercontent.com/1641949/71386097-7f070280-2626-11ea-851c-28fe44605f91.png">

Can you try set calling from browser?

[2019-12-24 00:31] Cbradish commented on #174
Hi.  Its already set this way.

From: ZHAO Xudong <notifications@github.com>
Reply-To: ringcentral/hubspot-embeddable-ringcentral-phone <reply@reply.github.com>
Date: Monday, December 23, 2019 at 7:22 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Christopher Bradish <christopher.bradish@bellatera.com>, Author <author@noreply.g

[2019-12-24 00:42] zxdong262 commented on #174
So if you click call with RingCentral button, will popup RingCentral app?
<img width="272" alt="Screen Shot 2019-12-24 at 8 41 19 AM" src="https://user-images.githubusercontent.com/1641949/71386506-52081f00-2629-11ea-89eb-bb44f30fa87c.png">

[2019-12-24 00:46] zxdong262 commented on #174
Oh, I see, yes the Hubspot calling button still use Hubspot default calling app, if you want to call with RingCentral, you need to click the Call with ringCentral button.
@Cbradish

[2019-12-24 00:50] Cbradish commented on #174
This is what I have.    I am hoping that I can click the phone icon on a contact and have the RC app make the call?

(and also log the call).

[cid:image001.png@01D5B9CA.2773CAD0]

Christopher Bradish
  +1 786 300 2442 (c)
117 NE 1st Ave
    Miami, FL 33132
+1 305 239 9044
www.bellatera.com<http://www.bellatera.com>

[signature_1891107740]

Disclaimer:  The information contained in this communicat

[2019-12-24 01:16] zxdong262 commented on #174
@Cbradish Currently no plan for that in the Chrome integration, we do not overide that, there is a WIP Hubspot integration that can do this: https://github.com/ringcentral/ringcentral-integration-for-hubspot, may be published in Hubspot's market place.

[2019-12-24 01:16] #174 closed

[2019-12-24 01:22] Cbradish commented on #174
Hi I am using Firefox not chrome if that makes any difference.  ?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ZHAO Xudong <notifications@github.com>
Sent: Monday, December 23, 2019 8:16:39 PM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: Chris Bradish <christopher.bradish@bellatera.com>; Men

[2019-12-24 01:56] zxdong262 commented on #174
@Cbradish For Firefox, no difference.

[2020-01-10 16:40] KMagneti commented on #168
Hello,

I just installed the chrome extension and have done several test SMS messages and nothing appears to be syncing with Hubspot.   We can see the activity in the text window but nothing is being recorded in the activity feed for the contact in HubSpot.   Please advise.

THANK YOU!

![RC HS 2](https://user-images.githubusercontent.com/13275391/72169917-39b83400-338d-11ea-830d-165b0d947212.jpg)

[2020-01-11 01:49] zxdong262 commented on #168
@KMagneti Have you turn on auto log in settings?

[2020-01-13 15:40] KMagneti commented on #168
What or where are the auto login settings?

*karen waldon, marketing specialist*
*magneti.com <http://magneti.com> **| **719.330.1091| karen@magneti.com
<karen@magneti.com> *

On Fri, Jan 10, 2020 at 6:49 PM ZHAO Xudong <notifications@github.com>
wrote:

[2020-01-13 16:07] zxdong262 commented on #168
@KMagneti

<img width="308" alt="Screen Shot 2020-01-14 at 12 05 42 AM" src="https://user-images.githubusercontent.com/1641949/72271398-c864d380-3661-11ea-90a4-24ff78701aa4.png">

[2020-01-13 16:10] KMagneti commented on #168
Perfect!  It works!  Thank you!

*karen waldon, marketing specialist*
*magneti.com <http://magneti.com> **| **719.330.1091| karen@magneti.com
<karen@magneti.com> *

On Mon, Jan 13, 2020 at 9:07 AM ZHAO Xudong <notifications@github.com>
wrote:

[2020-01-13 17:08] finertouch opened #175 "SMS messages duplicate in the notes field"
It seems that from time to time, the sms notes that are recorded in hubspot duplicate over and over.  They don't seem to go to the person multiple times but they appear in the CRM again and again.  Seems like it might be the same time that the app syncs.  Can you help?

[2020-01-14 01:57] zxdong262 commented on #175
@finertouch Yes, due to current API limit, it is a known issue.

[2020-01-15 14:08] JMF2012 opened #176 "Instance is obsolete, please use Connection. Refer - https://jsstore.net/tutorial/connection/"
![Screen Shot 2020-01-15 at 9 07 09 AM](https://user-images.githubusercontent.com/1633481/72440270-84afbe00-3776-11ea-89d5-b7e08fdc3652.png)

Hello, I'm getting this error when unpacking the dist folder and installing the ringcentral extension. Can you please help me? Thank you.

[2020-01-15 14:27] zxdong262 commented on #176
Can you try disable all other exts, and do it again? I can not reproduce this.

[2020-01-15 14:34] JMF2012 commented on #176
I have disabled all extensions, downloaded the dist folder and unpacked it
and then still get the error. I've attached the screenshots of the sequence
of events.

--
[image: Logo] <https://www.fundinggates.com/fg-receivables-manager/>

[image: Logo]
Jean-Marc Freuler
CEO

Funding Gates
Receivables Software | Powerful Analytics | Reduce DSO
www.fundinggates.com/free-trial

AuraRise
Trade Credit | S

[2020-01-15 19:36] jin-fhg opened #177 "RingCentral for Hubspot Unable to Launch"
We have a customer having issues with the RingCentral for Hubspot Integration where he is unable to launch the Extension and it shows an error on the extension settings. We tried reinstalling the package, but it did not help. I gathered the Console files for you since the HAR logs are empty.

[2020-01-15 19:38] jin-fhg commented on #177
Attaching the files

[2020-01-15 19:39] #173 closed

[2020-01-15 20:27] zxdong262 commented on #176
Have you enable developer mode?

[2020-01-15 20:28] JMF2012 commented on #176
yes
--
[image: Logo] <https://www.fundinggates.com/fg-receivables-manager/>

[image: Logo]
Jean-Marc Freuler
CEO

Funding Gates
Receivables Software | Powerful Analytics | Reduce DSO
www.fundinggates.com/free-trial

AuraRise
Trade Credit | Supply Chain Financing
www.aurarise.com

C: (917) 297-6366
O: (646) 502-5534
E: freuler@fundinggates.com

On Wed, Jan 15, 2020 at 3:27 PM ZHAO Xudong <notificat

[2020-01-15 20:30] zxdong262 commented on #176
Can we have a meeting now?
@JMF2012

[2020-01-15 20:32] JMF2012 commented on #176
Sure, do you want to call me? My cell is +19172976366

--
[image: Logo] <https://www.fundinggates.com/fg-receivables-manager/>

[image: Logo]
Jean-Marc Freuler
CEO

Funding Gates
Receivables Software | Powerful Analytics | Reduce DSO
www.fundinggates.com/free-trial

AuraRise
Trade Credit | Supply Chain Financing
www.aurarise.com

C: (917) 297-6366
O: (646) 502-5534
E: freuler@fundinggates.com

On

[2020-01-15 20:33] zxdong262 commented on #176
@JMF2012 Send you the email, you can just click the meeting link

[2020-01-15 20:48] zxdong262 commented on #176
@JMF2012 Can you try it in another mac or PC in your company?

[2020-01-15 21:02] JMF2012 commented on #176
It works at my colleagues computer who has a mac

--
Jean-Marc Freuler
+1 9172976366

[2020-01-16 22:00] zxdong262 commented on #177
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.7.1 Should fix now. Thank you for the feedback.

[2020-01-16 22:00] #177 closed

[2020-01-16 22:01] zxdong262 commented on #176
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.7.1 Should fix now. Thank you for the feedback.

[2020-01-16 22:01] #176 closed

[2020-01-24 16:34] jimmyp94 opened #178 "Phone has no microphone security ability"

[2020-01-29 15:29] tjrmillward opened #179 "Syncing issue"
Cannot seem to get this to sync. It is saying contact doesnt exist and phone number matches exactly in both Mobile Phone Field and Phone Number Field. Any ideas?

[2020-01-29 15:39] tjrmillward commented on #179
![Screenshot 2020-01-29 at 15 20 43](https://user-images.githubusercontent.com/60438114/73371420-941e2380-42ad-11ea-9d42-f9f5415da6cd.png)

[2020-01-29 15:40] tjrmillward commented on #179
![Screenshot 2020-01-29 at 15 40 11](https://user-images.githubusercontent.com/60438114/73371486-a8622080-42ad-11ea-8650-fc00f74705f9.png)
Error message I get

[2020-01-29 18:41] SethBasenet commented on #147
Hello again

the new extension (1.7.1)  im using is not working, its barely logging any
calls at all to hubspot

*Seth Krawitz  **| President*

* Direct: 484-344-5547*

*Cell: 215-565-6728*

*seth@basenetsystems.com <seth@basenetsystems.com>*

*Skype: Seth.Krawitz*

*Trilian: Seth.Krawitz*

*Basenet Systems LLC*

*960 Brook Road, **Unit 2*

*Conshohocken, PA - 19428*
[image: cid:image001.jpg@01D3B

[2020-01-31 20:40] zxdong262 commented on #147
Hi @SethBasenet

Just back to work, can we have a meeting, anytime exclude 23:00PM~06:30AM UTC+8 timezone(Shanghai time), you can contact me through drake.zhao@ringcentral.com

[2020-02-02 01:17] finertouch opened #180 "Text message goes to wrong person"
On occasion, when sending a text message, it also shows up under the phone number of a different person and shows as if it was sent.  So basically, it goes to more than one person even though only one person was chosen.

[2020-02-02 08:00] zxdong262 commented on #180
It will sync to all conacts with that phone number(from or to), can you confirm if the contacts have same phone number, including mobile phone.

[2020-02-02 15:04] finertouch commented on #180
They do not have the same number

Harold Johnson
Finer Touch Entertainment
347.252.6225
www.finertouchent.com<http://www.finertouchent.com>

________________________________
From: ZHAO Xudong <notifications@github.com>
Sent: Sunday, February 2, 2020 3:00:48 AM
To: ringcentral/hubspot-embeddable-ringcentral-phone <hubspot-embeddable-ringcentral-phone@noreply.github.com>
Cc: finertouch <ftemedia@gma

[2020-02-02 23:27] zxdong262 commented on #180
@finertouch Is it that one have same number as sender's number, one has receiver's number?

[2020-02-10 14:14] bwheeler19 opened #181 "Doesn't sync all HubSpot contacts and Doesn't log calls"
RingCentral Embeddable Voice for HubSpot V.1.8 --

Hi, having an issue with syncing contacts on HubSpot with Ringcentral chrome extension.

Also have an issue with logging calls, for instance if I make a call using Ringcentral the call won't be logged in to HubSpot

Have tried using the auto log feature and have deauthed and reauthed HubSpot and have tried the refresh contacts button.

Any suggest

[2020-02-10 14:20] zxdong262 commented on #181
How many contacts do you have?

[2020-02-10 14:22] zxdong262 commented on #181
Is the number belong to a hubspot contact?

[2020-02-10 14:25] bwheeler19 commented on #181
So we have around 25,000 contacts only a few hundred are actually displaying.

Yes I have created a test contact in HubSpot with my number and email and have been using that as a test so the mobile number is the same but doesn't recognise it.

[2020-02-10 14:29] zxdong262 commented on #181
Have you wait for the syncing finished?

[2020-02-10 14:30] zxdong262 commented on #181
Can you have a meeting with me, like right now?

 https://meetings.ringcentral.com/j/1485776918

[2020-02-10 14:36] bwheeler19 commented on #181
Hi hold on just having a few issues with meeting my bad

On Mon, 10 Feb 2020 at 14:30, ZHAO Xudong <notifications@github.com> wrote:

--
USA: +1 (215) 2788706
*UK: *+44 (0) 845 459 9530
**How was my service? 
Please give feedback <mailto:management@clearvision-cm.com>

<https://www.clearvision-cm.com/>

<https://www.clearvision-cm.com/atlassian-support/>

<https://www.clearvision-cm.com/blog/clear

[2020-02-10 15:17] zxdong262 commented on #181
@bwheeler19

Thank you so much for the feedback!

A new release that should fix the problem:

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.8.1

[2020-02-10 15:17] #181 closed

[2020-02-11 00:18] zxdong262 commented on #181
@bwheeler19 Sorry, released another one, https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.8.2

[2020-02-14 19:53] AminD006 opened #182 "Maximum of 5 webphone ?"
![image](https://user-images.githubusercontent.com/61065064/74562941-b795cf00-4f39-11ea-88b3-1c58c3a35065.png)

[2020-02-14 21:44] AminD006 commented on #182
I have an issue with the app, sometimes it shows this message and during up to 30 minutes it's impossible to call

[2020-02-15 00:08] zxdong262 commented on #182
You are using chrome right?

[2020-02-17 14:39] AminD006 commented on #182
Yes using Google Chrome.
--
Amin Djema

IT Manager

Sofdesk
+1-514-229-1105 <+1-514-823-8399>
amin@sofdesk.com <jimmy@sofdesk.com>
www.sofdesk.com
[image: facebook] <https://www.facebook.com/sofdesk/>
[image: twitter] <https://twitter.com/sofdesk>
[image: linkedin] <https://www.linkedin.com/company/sofdesk/>

Le ven. 14 févr. 2020 à 19:08, ZHAO Xudong <notifications@github.com> a
écrit :

[2020-02-18 04:33] zxdong262 commented on #182
Thank you for the feedback, should be fixed, but I do not have confirmed schedule for this.

[2020-02-18 20:26] AminD006 commented on #182
Thanks a lot !

[2020-02-18 20:26] #182 closed

[2020-02-19 06:17] zxdong262 commented on #179
Sorry for the delay, make sure you resync all contacts by click the reload button in widget's contact tab, after you addd new contact or change contact's number, and use the leatest release.

You can check the resync process from the video: https://youtu.be/MciDRtxx1VQ
@tjrmillward

[2020-02-19 06:17] #179 closed

[2020-02-19 06:21] zxdong262 commented on #178
Sorry for the delay, for the calling to work, the widget requires to use microphone, for the first time, it will popup a confirm dialog, if disable it, you may try enable it in some browser settings page(need google it, I never do it myself).

@jimmyp94

[2020-02-19 06:21] #178 closed

[2020-02-19 06:21] #175 closed

[2020-02-19 06:23] zxdong262 commented on #163
Close it now, feel free to reopen it or submit another one. Feedbacks are always welcome.

[2020-02-19 06:23] #163 closed

[2020-02-19 06:24] zxdong262 commented on #160
Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:24] #160 closed

[2020-02-19 06:24] zxdong262 commented on #159
Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:24] #159 closed

[2020-02-19 06:24] zxdong262 commented on #144
Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:24] #144 closed

[2020-02-19 06:25] zxdong262 commented on #120
Already supported. Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:25] #120 closed

[2020-02-19 06:26] #122 closed

[2020-02-19 06:26] zxdong262 commented on #158
Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:26] #158 closed

[2020-02-19 06:27] zxdong262 commented on #180
Close it now, feel free to reopen or submit another one, Feedbacks are always welcome.

[2020-02-19 06:27] #180 closed

[2020-02-19 20:28] AminD006 opened #183 "1.8.7 and desktop app : Log issue"
Hi,

when i use the desktop app with the plugin, in the call log it shows :
[Outbound Call connected] CALL from USERNAME1, USERNAME2, USERNAME3, USERNAME4.... (The list of ALL my Ringcentral users) to Destination user PhoneNumbers

[2020-02-19 22:10] AminD006 opened #184 "RC call integration not working with call logging since 1.8.7"
No calls being logged since the update.
I went through the #137 with no success.
I rolled back to the 1.7.1 with no success :(

Help please :/

[2020-02-20 07:38] zxdong262 commented on #183
That is because they have the same number - the calling number, you could choose a different number when calling.

[2020-02-20 07:47] zxdong262 commented on #184
Can you have a meeting with me, if so, please send an email to drake.zhao@ringcentral.com with your available time and timezone. I will shedule the meeting and send you the meeting link, so we check it, from myside, I can not reproduce the problem.

[2020-02-20 07:47] #184 closed

[2020-02-20 14:23] AminD006 commented on #183
But we have different extensions.

[2020-02-25 20:23] AminD006 commented on #183
Issue fixed.
The caller was logging using the global phone number + ext.
Now configured RC to use his direct phone number instead.

[2020-02-25 20:23] #183 closed

[2020-02-26 17:30] AminD006 opened #185 "Call not logged immediately"
Hi,

When using the addon we are noticing a huge lantency between the moment when the call is placed and when the call is autologged in Hubspot. In average it takes like 15 to 20 minutes to see the call automatically logged. Is it normal ?
This behaviour is happening with 3 different versions of the addon including the latest release.

[2020-02-27 06:12] zxdong262 commented on #185
Could be a network problem, can you test it in another network?

[2020-02-27 16:49] AminD006 commented on #185
Will give a try. But the network looks ok : No latency, no jitter, VOiP working well...

[2020-02-27 18:07] grimeshine opened #186 "Call log/Contacts not syncing properly"
Im having a hell of a time trying to get my recent call section to associate phone numbers with my hubspot contacts. Some are working, but i find myself in a loop of unauthorizing/reuathorizing hubspot, relaunching the browser and other things to try and get the contacts to update so that I can log my call through the extension. Sometimes these things seem to work, sometimes it will even be a day

[2020-02-27 23:08] zxdong262 commented on #186
@grimeshine Please check the video to see how it works: https://www.youtube.com/watch?v=MciDRtxx1VQ&feature=youtu.be, if still have problems, we can have a meeting to check it, you can send email to drake.zhao@ringcentral.com, with you available time range and timezone.

[2020-03-04 00:59] AndrewArbuckle opened #187 "Not working in Queues and not syncing due to area code"
The Ringcentral icon disappears when using Queues for sales tasks so I can't call directly from hubspot without copying / pasting the number.  It reappears if just in a customer account without queue.

The phone number doesn't sync due to area code.  Example:
All mobile phone numbers are loaded in hubspot without area code, ie 0404999999, after making a call the ringcentral app prompts to add a ne

[2020-03-13 15:04] Ky1e opened #188 "When a contact doesn't exist and is created, the word "created" is not spelled correctly."

[2020-03-19 05:02] #188 closed

[2020-03-19 05:05] zxdong262 commented on #188
Fixed, thank you for the feedback
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v1.9.5

[2020-04-07 00:45] tohagan opened #190 "Repeatedly fetching companies from HubSpot"
I'm testing v1.11.0

The extension is calling this API every few seconds which is probably not acceptable to HubSpot if we have multiple users logged in.

`https://api.hubspot.com/companies/v2/companies/paged?portalId=<number>&clienttimeout=60000&limit=250&properties=name&properties=phone&includeMergeAudits=false&propertyMode=value_only`

[2020-04-07 00:57] tohagan commented on #186
I'm experiencing the same. I've watched your video and setup correctly. I found that it contact sycning works fine for small numbers of contacts in an account but for an account with large numbers it fails to sync them all - so probably you're hitting a HS API limit of some kind.

[2020-04-07 07:53] zxdong262 commented on #190
The leatest release fixed it

[2020-04-07 07:53] #190 closed

[2020-04-07 07:54] zxdong262 commented on #186
Please try the latest release, and wait for all contacts syned.

[2020-04-07 07:54] #186 closed

[2020-04-07 07:56] zxdong262 commented on #187
Make sure you add "+" for country code, +xx xxxxxxx works, xx xxxxxxx do not work.

[2020-04-07 07:56] #187 closed

[2020-05-13 16:02] shayatik opened #192 "Photos (mms) don't show up"
Sent a test photo. Won't show up in the Chrome extension.

An empty buble shows up instead: https://imgur.com/rrvo4cd

[2020-05-13 17:30] shayatik opened #193 "Wont dial from desktop app"
I have RingCentral for Dekstop installed (Windows 10).

In the Chrome extension - going to settings -> "Make my calls using" section I choose "RingCentral for Desktop".

When trying to dial from HubSpot, nothing happens. When I change it to "Browser" it dials the number.

[2020-05-13 23:46] zxdong262 commented on #192
@embbnux Can you check this?

[2020-05-13 23:51] zxdong262 commented on #193
@embbnux Can you help with this?

[2020-05-14 16:21] embbnux commented on #193
@shayatik Can you get RingCentral for Desktop option in HubSpot integration's calling setting page.
And can you provide your Browser version, screenshot, and JS logs in the web page that you test? It should be a bug if this calling mode doesn't work. Browser logs is very important for us to track bug.

Steps to get JS logs:

1. Go to web page
2. right click in our app
3. select Inspect to open JS

[2020-05-14 16:34] embbnux commented on #192
Hi @shayatik Have reproduced this issue. Will fix it soon.

[2020-05-14 23:28] shayatik commented on #193
See attached.

On Thu, May 14, 2020 at 7:21 PM Embbnux Ji <notifications@github.com> wrote:

--

--

Shay Atik
shayatik@shayatik.com
914-525-5856

[2020-05-14 23:29] shayatik commented on #193
See attached.
![Javascript](https://user-images.githubusercontent.com/7231101/81995769-e9f7bb00-9653-11ea-9314-34beac82b661.jpg)
![Network](https://user-images.githubusercontent.com/7231101/81995770-eb28e800-9653-11ea-8262-91ef2c50aaf4.jpg)

[2020-05-15 01:59] embbnux commented on #193
Hi @shayatik I also want to check which desktop app are you using, RingCentral For Desktop or RingCentral Phone desktop app? In this app, we only support to call with RingCentral Phone desktop app,

[2020-05-15 10:04] shayatik commented on #193
I'm using RingCentral App 20.2.20

On Fri, May 15, 2020 at 4:59 AM Embbnux Ji <notifications@github.com> wrote:

--

--

Shay Atik
shayatik@shayatik.com
914-525-5856

[2020-05-15 10:12] embbnux commented on #193
@shayatik Got the issue. We only support to work with RingCentral Phone app https://www.ringcentral.com/apps/rc-phone. Support for new RingCentral app https://www.ringcentral.com/desktop-app.html is still on backlog.

Sorry for the confusing option, will update to PM team for it.

[2020-05-15 10:37] embbnux commented on #192
@zxdong262 Embeddable library updated to support it. Please update this project to support it.

[2020-05-15 12:20] shayatik commented on #192
Thanks!

[2020-05-15 12:20] #192 closed

[2020-05-15 12:44] zxdong262 commented on #192
@shayatik Released https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v2.5.3

[2020-05-15 16:13] shayatik commented on #192
Works well. Thanks!

On Fri, May 15, 2020 at 3:44 PM ZHAO Xudong <notifications@github.com>
wrote:

--

--

Shay Atik
shayatik@shayatik.com
914-525-5856

[2020-05-19 14:56] shayatik opened #194 "Set permanent caller ID"
Please add an option to set a permanent called ID (the user's dedicated number instead of the company's main number), instead of choosing a caller ID before every call.

Thanks.

[2020-05-20 05:04] zxdong262 commented on #194
@embbnux Can you help with this?

[2020-05-20 11:20] zxdong262 commented on #150
Closed, feel free to reopen if needed

[2020-05-20 11:20] #150 closed

[2020-05-20 13:15] embbnux commented on #194
Hi @shayatik , the widget will remember last selected call id in user's storage. Do you mean it fail to work?

[2020-05-20 17:11] shayatik commented on #194
I didn't know it remembers the last selected ID. Thanks.

On Wed, May 20, 2020 at 4:15 PM Embbnux Ji <notifications@github.com> wrote:

--

--

Shay Atik
shayatik@shayatik.com
914-525-5856

[2020-05-28 06:45] embbnux commented on #194
Thanks shayatik.   @zxdong262 We can close this issue now.

[2020-05-28 06:49] #194 closed

[2020-06-02 14:54] shayatik opened #195 "Popup covers the "End Call" button"
Hi,

The "Note will synced with call log when call end" popup covers the "End Call" button, and there's no way to end the call until the popup disappears.

Example: https://i.imgur.com/XPSgcl0.png

Thanks!

[2020-06-05 08:45] zxdong262 commented on #195
It is tooltip of the input, you can move mouse out of the input, the tooltip will hide

[2020-06-05 08:45] #195 closed

[2020-06-05 20:45] shayatik commented on #195
I moved the mouse, it didn't hide and there's no way to move the tooltip.

On Fri, Jun 5, 2020 at 11:45 AM ZHAO Xudong <notifications@github.com>
wrote:

--

--

Shay Atik
shayatik@shayatik.com
914-525-5856

[2020-06-06 04:38] zxdong262 commented on #195
@shayatik Do not try move the tooltip, move away the mouse wait 2 seconds, or click the hide inout button, on the left of the input

[2020-06-09 15:38] tylerdilks opened #197 "Input & Output Don't Work When Making Call"
When using the extension within Chrome, our users are unable to hear or speak audio after dialing. They are able to hear the dial tones when dialing the number but once they click call both input and output are cut. The same users that are experiencing this issue in chrome have success when using within Firefox

I have attached some error logs that I was able to pull.

[RC-Extension-Errors.zip](ht

[2020-06-17 21:05] codefix25 commented on #162
yes I am also requesting such functionality for SMS integration in Workflows, as well as voicemail drops.
In addition the functionality requirements should be as follows:
1. Ability to set times/days when SMS go out - in other words they should be held until for example work hours 9 am - 5 pm. User defined preference.
2. Unenroll feature support (opt-out/resubscribe). If the user responds with "st

[2020-06-19 14:28] JanBilton opened #199 "Task: Call"
Hi - I created a task to call a contact, went to the task queue and selected start.  When the task is displayed, the Hubspot softphone pops up (rather than your Chrome app version) and the telephone number isn't ready to dial.  Instead, I have to click the native HS call button.

[2020-06-19 14:34] zxdong262 commented on #199
Not support that yet, you may try the integration in HubSpot app market: https://www.ringcentral.com/apps/call-with-ringcentral-for-hubspot

[2020-06-22 14:43] jin-fhg opened #200 "RingCentral Hubspot Internal Server Issue"
Hello @zxdong262

We have a RingCentral Customer having issues with the Hubspot Integration where it shows Internal Server Error when logging in to the RC widget.
Here is the video of the issue: https://drive.google.com/file/d/1UUQY7ON7Dj-MmHLSLhe0YiD8-8ESknKk/view?usp=sharing

I tried re-enabling the integration but it did not work.
Here is the Console file
[app.hubspot.com-1592834313211.log](htt

[2020-06-23 13:23] zxdong262 commented on #200
Seems youare talking about another app: https://github.com/ringcentral/ringcentral-integration-for-hubspot
Please try select HubSpot as call provider and reselect RingCentral as call provider.

[2020-06-23 14:45] jin-fhg commented on #200
Hello @zxdong262 ,

Where do we select Hubspot as the Call Provider and reselect RingCentral? Can you show me a screenshot?

[2020-06-23 16:18] jin-fhg commented on #200
Thanks @zxdong262. That works!

[2020-07-03 18:33] cpopovec opened #201 "Log SMS"
For the RingCentral chrome extension, I am seeing that an sms message is being logged as a "call"

This must be a mistake.  can this be adjusted so that an sms message sent from RingCentral is logged as an "sms" and not as a "call"

[2020-07-03 18:49] zxdong262 commented on #201
HubSpot have call or note type, but no SMS type, which one do you prefer? call or note?

[2020-07-03 18:51] cpopovec commented on #201
Thanks for the reply.

Neither works for us because it does not make sense for an sms to be logged as a call or a note because it is an SMS.

Why can’t it be logged as an “sms"

[2020-07-03 19:15] zxdong262 commented on #201
Because HubSpot API do not have such type.

[2020-07-03 19:28] cpopovec commented on #201
Wouldn't it make sense that RingCentral would create this customization for their integration with HubSpot?  seeing as to how their services provide "calling" and "sms" services?

[2020-07-04 12:18] zxdong262 commented on #201
Sorry  I do not how to create SMS type without HubSpot's support

[2020-07-07 15:14] cpopovec commented on #201
If I have a developer on my team create a custom type in hubspot called “sms” can we have the RingCentral chrome extension log sms messages to it in HubSpot?

[2020-07-07 15:14] raphaelvarieras opened #202 "Hubspot Permissions"
Does a user need to be a Hubspot Super Admin in order to install the extension. Since I am I could install without difficulty but my users who are not Super Admins were told they needed to be.

[2020-07-07 16:37] zxdong262 commented on #202
https://github.com/ringcentral/ringcentral-integration-for-hubspot/blob/master/features-compare.md

Seems you mixed up two apps, the chrome extension, no need to be super admin to install, but the intgration, need to be a hubSpot super admin to install it, but normal user could use it.

[2020-07-07 17:02] raphaelvarieras commented on #202
That makes sense, thank you.

[2020-07-07 17:02] #202 closed

[2020-07-07 17:37] zxdong262 commented on #201
@cpopovec I am not sure, let me ask HubSpot developer about this, I will get back to you.

[2020-07-07 17:45] cpopovec commented on #201
Ok, Thank you.

[2020-07-08 14:47] thekerbey commented on #168
Im experiencing the same issue today and I have auto syncing turned on.

[2020-07-08 14:48] thekerbey commented on #171
Im experiencing the same issue today and I have auto syncing turned on.

[2020-07-08 17:08] zxdong262 commented on #168
@thekerbey Have you sync all contacts?

[2020-07-08 17:09] thekerbey commented on #168
yes

[2020-07-08 17:09] thekerbey commented on #168
yes

On Wed, Jul 8, 2020 at 1:09 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-07-09 23:26] zxdong262 commented on #168
@thekerbey Can we have a meeting to check it? If you can, please send email with your available time and timezone to drake.zhao@ringcentral.com, I will send you the meeting link.

[2020-07-10 11:07] anasmahamud opened #203 "Not Syncing§"
My RingCentral chrome extension does not always sync the contact details from my Hubspot CRM. When dialling it will show as unknown and this will then not allow us to leave notes on the conservation.

How do I go about fixing this?

[2020-07-10 11:14] #203 closed

[2020-07-11 04:39] zxdong262 commented on #168
@thekerbey I think I might know it now, can you check call tab? In latest release, sms log synced to call log too, not in note any more.

[2020-07-14 16:29] cpopovec commented on #137
Is there an ability to give users access to only a select number of clients to call from the RingCentra extension?  my team's HubSpot has close to 200,000 contacts but I have 12 different teams that will be working in HubSpot and I only want members of certain teams to have access to just a select number of these 200,000 clients and not all of them

[2020-07-14 17:37] cpopovec opened #204 "Timeline API - Logging SMS"
Good Morning,

My team is creating a custom sms logging using the timeline APIs for HubSpot.  we would like all of the SMS messages sent from our employees using the RingCentral chrome extension to hit our custom logging instead of being logged using the engagement type of "call" or "notes"

Can we have some support in doing this?

[2020-07-16 18:58] cpopovec commented on #204
can i please get a response for this request?  how can we turn off the the logging for the chrome extension so that we can route all of our logs for sms messages to hit our own custom timeline event instead of being logged as an engagement

[2020-07-17 01:03] zxdong262 commented on #204
@cpopovec Sure, I will add a switch in setting

[2020-07-17 01:11] zxdong262 commented on #204
Oh,  wait, there are already switchs in settings to turn off the autolog for sms and calls

[2020-07-17 15:21] cpopovec commented on #204
Thank you but is there a way we can access the code so that we can remove it completely for our users?

I don’t even want the autologous toggle to exist for them.

Thanks,
Chris

[2020-07-19 23:44] zxdong262 commented on #204
@cpopovec I see, let me check, this may some days.

[2020-07-20 00:15] zxdong262 commented on #204
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v3.0.0

@cpopovec Done, now with a no call log distribution

[2020-07-20 14:58] cpopovec commented on #204
I still want to auto log the calls, I just don’t want the messages to be auto-logged.

Does this make sense?

[2020-07-21 04:48] zxdong262 commented on #204
No problem @cpopovec I will update the release

[2020-07-21 05:20] zxdong262 commented on #204
@cpopovec https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v3.0.0
Now with a no-sms-log dist

[2020-07-21 14:57] cpopovec commented on #204
Thanks you.

Please work with my colleague Krishna.

Thanks,
Chris

[2020-07-22 23:13] kkannaji commented on #204
Hi Zhao,

We are trying to log all the sms activities (Hubspot workflow automation, Ringcentral chrome extension and Ringcentral mobile app) using timeline apis into Hubspot, figured out a way to log automation and extension.

I am using message store api to see all the Inbound and Outbound messages.(https://platform.devtest.ringcentral.com/restapi/v1.0/account/accountId/extension/extensionId/mess

[2020-07-23 04:42] zxdong262 commented on #204
@kkannaji Sandbox credentials only works for sandbox account, you need production credentials to access production data

[2020-07-23 06:02] #200 closed

[2020-07-23 16:17] kkannaji commented on #204
I have production credentials for mobile app, can you provide me sandbox credentials for the mobile app, so that when I send the message, can see them using message store api

[2020-07-23 16:40] kkannaji opened #207 "Chrome Extension: Inbound/Outbound calls are not getting logged in hubspot"
Hi Zhao,

The calls made through chrome extension are not getting logged, we need that feature to log only calls but not sms.

[2020-07-23 18:10] kkannaji commented on #207
Hi Zhao,

I added chrome extension to my hubspot account.  However, it appears to be trying to connect to production.  How do I get it to connect to my sandbox account?

How to develop customized chrome extension inorder to login with sandbox, so that I can even see the sent/received messages in message store api.

Thanks,
Krishna

[2020-07-23 18:21] grimeshine opened #208 "Logged calls appear as notes"
Why is it that after a call instead of opening up the "log window" it opens up the "notes window" in hubspot. It makes the feature pretty useless, how can I make this automatically open my call log window instead?

[2020-07-23 22:25] #207 closed

[2020-07-23 22:33] kkannaji opened #209 "Customized chrome extension to login using sandbox credentials"
Hi Zhao,

I added chrome extension to my hubspot account. However, it appears to be trying to connect to production. How do I get it to connect to my sandbox account?

How to develop a customized chrome extension inorder to login with sandbox, so that I can even see all the sent/received messages in message store api.

Thanks,
Krishna

[2020-07-27 04:39] zxdong262 commented on #208
Released new version that do not open the note window anymore when you click the log link.

[2020-07-27 16:08] JanBilton opened #210 "Ringcentral Video not the default"
Hi - When creating a video meeting in hubspot, the Ringcentral meeting text, rather than Ringcentral video, is copied into the invite.

[2020-07-27 21:16] grimeshine commented on #208
It is still auto-opening the note window when customers call. Can you make it auto open the call log window please

[2020-07-28 08:32] zxdong262 commented on #208
Oh I see @grimeshine next release will fix

[2020-07-28 08:48] zxdong262 commented on #210
Since the RingCentral Video is new, so only new customer will enable RingCentral Video by default.
You can change it to RingCentral Video from RingCentral desktop app's setting -> video page.

[2020-07-28 08:48] #210 closed

[2020-07-28 08:49] zxdong262 commented on #208
@grimeshine Please try the latest release, thank you for the feedback!

[2020-07-28 08:49] #208 closed

[2020-07-28 08:49] zxdong262 commented on #208
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v3.3.0

[2020-07-28 22:19] markscacco opened #211 "Missing call-sms-video buttons for Contacts"
The toolbar with the call-sms-video buttons that is supposed to display under the contact's name is not showing on Contacts page:
![image](https://user-images.githubusercontent.com/58789961/88728051-77e12f00-d0f6-11ea-9d18-c0e84c3b5583.png)

However, it does show on Company pages:
![image](https://user-images.githubusercontent.com/58789961/88727984-584a0680-d0f6-11ea-9e59-47e214030087.png)

[2020-07-28 23:25] zxdong262 commented on #211
Is the url like `/contacts/xxxxxx/contact/xxxxx/`? Only support contact page and company page, not deal page

[2020-07-28 23:28] markscacco commented on #211
yes, like this:
https://app.hubspot.com/contacts/478xxxx/contact/6xxxx

[2020-07-28 23:50] zxdong262 commented on #209
<img width="857" alt="Screen Shot 2020-07-29 at 7 19 37 AM" src="https://user-images.githubusercontent.com/1641949/88739230-a7328300-d16c-11ea-8f8c-89fba4319f49.png">

Sorry for the late response.

Check this, need to input `toggleEnv()` in console to open app setting, then you can set it there, and remember to save

[2020-07-28 23:57] zxdong262 commented on #211
Can you try this: in console input `document.querySelector('[data-unit-test="highlightSubtitle"]')` and press enter to see if what is the result?
<img width="1428" alt="Screen Shot 2020-07-29 at 7 56 15 AM" src="https://user-images.githubusercontent.com/1641949/88740982-101bfa00-d171-11ea-8428-a4ce287a303b.png">

[2020-07-29 00:02] markscacco commented on #211
![image](https://user-images.githubusercontent.com/58789961/88741257-cc8ba680-d104-11ea-8d02-4926c3e1a88b.png)

[2020-07-29 00:04] zxdong262 commented on #211
Can we have a meeting to check it?
@markscacco

[2020-07-29 00:04] markscacco commented on #211
yes im available now

[2020-07-29 00:06] zxdong262 commented on #211
Great, please send an email to drake.zhao@ringcentral.com, I will reply with meeting link. @markscacco

[2020-07-29 00:15] markscacco commented on #211
ok i see now that the Contact (or company) must have a phone number associated with them. Thank you for your help!

[2020-07-29 15:03] markscacco commented on #211
Thank you very much for your prompt responses.
I suggest that the buttons should display even when there is not a phone number associated with the contact or company. The buttons could be faded and inoperable when there is no phone number. A consistent user-interface would reduce potential user confusion. Thanks for the great work on this.
Mark

[2020-07-30 04:00] zxdong262 commented on #211
@markscacco You are right!

[2020-07-30 20:20] markscacco opened #212 "Unable to dial numbers with extensions"
If the contact's phone number has an extension, the app is unable to dial the number.
For example, 555.555.5555 x 9 (nor any similar notation, such as * 9 or ext 9) cannot be dialed and returns the message "Please enter a valid phone number."

What's interesting is that the RingCentral desktop app can interpret extensions of this format and dial them. It would be a great addition to be able to hav

[2020-07-31 02:05] embbnux commented on #212
Hi Mark,
Can you show screenshot of how you dial the contact. Do you dial from contact's page, or just typing?
It should work when you dial number as `9999990000*101` or `101` for internal call.

[2020-07-31 03:41] markscacco commented on #212
@embbnux This issue is specifically related to the ringcentral app for hubspot. To dial the contact, you click the phone icon as shown below:

![image](https://user-images.githubusercontent.com/58789961/88997690-daccf480-d2b5-11ea-8cd1-291e39572b39.png)

[2020-07-31 03:43] markscacco commented on #212
@zxdong262 Can you comment on this issue?

[2020-07-31 18:59] #211 closed

[2020-07-31 19:01] markscacco opened #213 "Action button are missing when the Task queue is active"
when the Task queue is active, the ringcentral plugin action icons (call, sms, etc) are not visible or active:

![image](https://user-images.githubusercontent.com/58789961/89068111-363ec700-d336-11ea-8e36-e80f97ed96d5.png)

As soon as I close the queue (by clicking the X in the upper right, the action button become visible

[2020-08-03 00:46] zxdong262 commented on #212
@markscacco I will check this, thank you for the feedback.

[2020-08-03 04:29] markscacco commented on #212
@zxdong262 thanks!

[2020-08-03 04:39] zxdong262 commented on #212
@markscacco Released new version with fix, you may try it.

[2020-08-03 04:39] #212 closed

[2020-08-03 04:47] markscacco commented on #212
Nice! It works! Thank you

[2020-08-03 17:34] markscacco opened #215 "Calls not logging automatically"
I am intermittently experiencing a failure of the extension to log a call I placed using the tool.
The call connects and logs in ringcentral, but the call is not logged in hubspot
I can manually log the call

[2020-08-03 17:40] markscacco opened #216 "Manual call logging text editor issues"
when manually logging a call, carriage returns (Enter to move to new line) are not transferring from the notes editor in the RC app to the note recorded in Hubspot. For example, I might type the following in RC when manually logging  call notes:

![image](https://user-images.githubusercontent.com/58789961/89210687-2e756180-d586-11ea-82b2-b7df4a0a9731.png)

However, once submitted to hubspot, it lo

[2020-08-03 20:34] markscacco commented on #215
Ok, this is no longer an intermittent problem. Calls made using the plugin are not automatically logging. I am testing version 3.5 and have Auto Log turned on.

![image](https://user-images.githubusercontent.com/58789961/89224812-bff0cd80-d59e-11ea-9850-f0f66c0dd742.png)

[2020-08-03 21:15] markscacco opened #217 "Manually Logging calls associated with a Company Does Not Work"
when I review the history of calls and use the tool to manually log a call to a phone number associated with a Company (and not a Contact) the call is logged to my own contact record in hubspot and not with the company associated with the phone number dialed.

[2020-08-04 01:01] zxdong262 commented on #217
The app will log any contact/company with callee or caller number, so if you have the same number as the company, it will log to your call log too.

[2020-08-04 01:16] markscacco commented on #217
Thank you. It's not logging with the company or the contact, it's logging
under MY contact record.

On Mon, Aug 3, 2020, 8:01 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-08-04 01:21] zxdong262 commented on #217
@markscacco Your contact's phone number is not the caller or callee? In that case can we have a meeting to check it?

[2020-08-04 01:41] markscacco commented on #217
I will check when I return to the office and report back.

On Mon, Aug 3, 2020, 8:22 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-08-04 02:45] zxdong262 commented on #216
@markscacco Thank you for the feedback
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v3.5.1 New release with support

[2020-08-04 02:45] #216 closed

[2020-08-04 15:29] markscacco commented on #217
ok i've investigated further. I am struggling to determine what causes the problem.
I use the RC plugin to call a contact.
The contact has a phone number associated with it
The call connects and the app logs it in its history
However, intermittently, the call is not logged in hubspot.

As I mentioned at the start of this thread, if I next attempt to manually log the call via the RC plugin, the cal

[2020-08-04 22:29] cpopovec opened #218 "Remove Auto-logging of Calls"
Can I please request a version of the chrome extension that does not have an auto log toggle for both sms messages and calls.  My developer has the ability to log all calls and sms messages himself through the use of APIs.

Can this be done so we can access one version for our users to download without any sms or call logging.

[2020-08-05 00:06] zxdong262 commented on #218
Done!

[2020-08-05 00:06] #218 closed

[2020-08-05 17:45] markscacco commented on #217
@zxdong262 continuing to have issues with calls not logging. The plugin no longer appears to be working properly. When I place a call to a Company, the call is not  automatically logged with the company. If I manually log the call (via the History tab in the plugin) the call is logged to MY contact and company record. However,  the logged call does not show when viewing all ACTIVITY in my feed. On

[2020-08-05 17:57] markscacco commented on #217
@zxdong262 Update: Neither calls to Contact or Company are logging automatically

[2020-08-06 03:49] zxdong262 commented on #217
Have you follow the video instruction to enable auto log and synced all contacts data?
@markscacco
https://youtu.be/ajbipkPd_4Q

[2020-08-06 05:02] markscacco commented on #217
Yes

On Wed, Aug 5, 2020, 10:50 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-08-06 06:10] zxdong262 commented on #217
@markscacco Can we have a meeting to check it?

If you can, please send your availble time/timezone to drake.zhao@ringcentral.com, I will send you the meeting link.

[2020-08-06 12:23] metalxoa opened #219 "Auto Log Call and Auto Log SMS toggle switches missing"
Hello. Thank you so much for putting this together, very impressive and useful extension.

I have noticed in other posts that people have two toggle switches that I do not seem to have. I've included a screen shot below.

![Auto Log](https://user-images.githubusercontent.com/69307587/89531315-083a0680-d7be-11ea-9e52-fb719d2a11df.png)

I'm sure there is a simple setting or solution that I'm missing

[2020-08-06 22:17] zxdong262 commented on #219
You should download the first one, not the `no-auto-call-log` one

[2020-08-06 22:17] #219 closed

[2020-08-11 19:53] markscacco opened #220 "Manually logging calls returns "call log sync to hubspot failed" error"
After I attempt to manually log a call I get the following error. Im using version 3.5.4

![image](https://user-images.githubusercontent.com/58789961/89942543-60b83c00-dbe2-11ea-891e-0358200537b3.png)

[2020-08-11 23:55] zxdong262 commented on #220
Can you try resync all contacts and do it again?

[2020-08-11 23:56] zxdong262 commented on #220
Is the contact newly added before last time you sync contacts data?

[2020-08-12 00:37] markscacco commented on #220
No, it's a contact that's been in the database for a while

Thanks,
Mark

On Tue, Aug 11, 2020, 6:57 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-08-12 00:46] zxdong262 commented on #220
@markscacco Is the contact showing a name or just number in call history panel?

[2020-08-12 00:48] markscacco commented on #220
Full name and number

On Tue, Aug 11, 2020, 7:46 PM ZHAO Xudong <notifications@github.com> wrote:

[2020-08-13 14:39] zxdong262 commented on #220
@markscacco Can we have a meeting to check it? If you can, please send your available time/time zone to drake.zhao@ringcentral.com, (please exclude 0:00 AM - 7:00 AM UTC+8 timzone), I will send you the meeting link.

[2020-08-13 15:42] markscacco commented on #220
Hi Drake,

Please use this link to pick a time that works for you: Schedule a Meeting
with Mark
<https://t.sidekickopen81.com/s1t/c/5/f18dQhb0S7lM8dDMPbW2n0x6l2B9nMJN7t5X-FfhMynW4X9X2g7d-mXxW56dSNP5YV86-102?te=W3R5hFj4cm2zwW3_SMKM3T1k87W1JzCRv4cNDSbW1JxwY51LBbZjW3Xtnm93z8myJw1L6_5c4dz2&si=7000000001690347&pi=4df8315b-fb13-4769-ddc9-b840ecc0a35a>

Thank you,

Mark Scacco, PE
*AEC Industry Consultan

[2020-08-26 11:36] #220 closed

[2020-08-28 13:07] JanBilton opened #221 "Are custom phone fields supported"
The app only seems to allow click to dial for numbers stored in the 'phone' property and not for custom phone properties.  For example, I have created a new property called 'Phone 2' and the RC app doesn't pick it up.

[2020-08-28 13:59] markscacco opened #222 "Syncing contacts never completes"
When syncing all my contacts, it never completes. I've kept the page open for more than a day and it never finishing syncing. I have successfully synced in the past and have not made significant changes to our contacts. I think there is an issue with the latest release

[2020-08-28 15:15] zxdong262 commented on #221
True, currently we only support native phone props: phone and mobile phone

[2020-08-28 15:25] zxdong262 commented on #222
Can we have a meeting to check it?  I can not reproduce this.

[2020-08-28 15:37] zxdong262 commented on #221
@JanBilton I will check if it is possible to support custom phone props

[2020-08-28 17:17] markscacco commented on #222
Yes, please email me to arrange day/time

[2020-08-31 01:53] #217 closed

[2020-08-31 01:53] #215 closed

[2020-08-31 01:54] #209 closed

[2020-08-31 01:54] #201 closed

[2020-08-31 01:57] #197 closed

[2020-08-31 01:58] zxdong262 commented on #162
@codefix25 @dochollywood8 Now we have a RingCentral integration in HubSpot app market you can use, it support SMS in workflow.

[2020-09-09 03:56] jrheidkamp commented on #204
Hi.  I am using the latest release 4.0.0 and the integration to HubSpot.  Seems outbound SMS is being logged for me, however, inbound SMS is not.  Any ideas?

[2020-09-10 01:41] zxdong262 commented on #204
Fixed in latest release, you can try it.

[2020-09-10 01:41] #204 closed

[2020-09-11 15:30] jrheidkamp commented on #204
Thank you for fixing the log to notes!

Next question - we want to use RC Meetings with the webinar add on.     Currently, we use Zoom and it tracks:

Registration: Displays a list of registrants and their registration details.
Attendee: Displays details about each attendee.
Performance: Displays engagement statistics on registration, attendance and feedback.
Q&A: Displays questions and answers fr

[2020-09-12 04:57] jrheidkamp opened #223 "No RC Meeting Link when on a company page"
When on a company page, and clicking on meet or meeting, the RingCentral link is not populating.  See screenshots of contact (works) vs Company (does not work).
![screenshot-app hubspot com-2020 09 11-23_53_21](https://user-images.githubusercontent.com/70994618/92987699-86a75980-f48a-11ea-86ac-5f315cd6bc57.png)
![screenshot-app hubspot com-2020 09 11-23_54_15](https://user-images.githubusercontent

[2020-09-12 05:04] jrheidkamp opened #224 "RC Webinar not syncing to HubSpot"
Listed on HS Support Page: https://support.ringcentral.com/s/article/9364?language=en_US

If you use Zoom + HubSpot, this data integrates and is pushed into HubSpot.    Can we get this feature added?

[2020-09-14 01:08] zxdong262 commented on #224
Do you mean manualy sync meeting to contacts? Check this: https://youtu.be/ajbipkPd_4Q?t=383

[2020-09-14 01:21] zxdong262 commented on #223
Done: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/releases/tag/v4.1.2

[2020-09-14 01:21] #223 closed

[2020-09-14 05:47] #222 closed

[2020-09-14 13:21] jrheidkamp commented on #223
When on a contact page, and you click on Meetings, It pops up Meeting in background and auto saves meeting info so you can automatically email the contact.   Would like to have the same on the company page:

On a Contact Screen:

![screenshot-app hubspot com-2020 09 14-08_12_05](https://user-images.githubusercontent.com/70994618/93090563-8bbf0100-f662-11ea-8756-c2eb01cc58c5.png)

Once you click on

[2020-09-14 15:13] jrheidkamp opened #225 "When on a contact page, and you click on Meetings, It pops up Meeting in background and auto saves meeting info so you can automatically email the contact. Would like to have the same on the company page:"
When on a contact page, and you click on Meetings, It pops up Meeting in background and auto saves meeting info so you can automatically email the contact.   Would like to have the same on the company page:

On a Contact Screen:

![screenshot-app hubspot com-2020 09 14-08_12_05](https://user-images.githubusercontent.com/70994618/93090563-8bbf0100-f662-11ea-8756-c2eb01cc58c5.png)

Once you click on

[2020-09-14 15:14] jrheidkamp opened #226 "SMS/MMS drop down does not differentiate Phone Number Type"
![image](https://user-images.githubusercontent.com/70994618/93103983-e95b4980-f672-11ea-8bd1-ab1e5121c5ad.png)

Possible that this can decipher Phone Type?  Main Business Number, Direct Line, Mobile, Fax, etc?

[2020-09-14 15:17] jrheidkamp commented on #224
No.  Zoom & HubSpot integration allows for recording and tracking of detailed attendance at Webinars:

https://knowledge.hubspot.com/integrations/use-hubspots-integration-with-zoom

Looking to add this.

[2020-09-14 15:33] zxdong262 commented on #223
@jrheidkamp I see, I missed something,  I will fix it tomorrow.

[2020-09-14 21:26] jrheidkamp opened #227 "Errors"
Logging a lot of errors.  Is this normal?

/ RingCentral Embeddable Voice for HubSpot / Errors

RingCentral Embeddable Voice for HubSpot

Issues100 found

Clear all
AccountInfo is deprecated, please evaluate and transition to use AccountInfoV2

ActiveCalls module is deprecated, please use Presence module with detailed mode

RcModule requires AlertUI._onStateChange to be implemented.

Mon Sep 14 20

[2020-09-15 02:53] zxdong262 commented on #227
You can ignore these as long as functions works as expected.

[2020-09-15 02:53] #227 closed

[2020-09-17 16:15] zxdong262 commented on #226
Right!

[2020-09-17 18:52] jrheidkamp commented on #185
We notice this as well.  I have 5 users, and it's so slow, we have to abandon the Labs browser extension and move back to the embedded ringcentral version.   Unfortunately, we lose a lot of functionality doing so.   The embedded older version syncs in near realtime for calls.  However, no SMS/MMS logging.   RC Meeting scheduling is also not nearly as good in the older version.

Is this beta/develo

[2020-09-19 05:11] zxdong262 commented on #185
@jrheidkamp If you mean the integration in HubSpot app market, it is a different app from this one, you can check the compare table:

https://github.com/ringcentral/ringcentral-integration-for-hubspot/blob/master/features-compare.md

The integration in HubSpot app market is built on top of HubSpot Calling SDK, some of the limitation is due to HubSpot Calling SDK, such as can not support incoming c

[2020-09-19 05:11] #185 closed

[2020-09-22 02:21] zxdong262 commented on #226
Fixed in latest release, thank you for the feedback

[2020-09-22 02:21] #226 closed

[2020-09-30 18:51] jeffteb opened #228 "How do I set it to be able to make calls from hubspot not from the app"
When I looked at one youtube video, the user clicked call button in hubspot and then it would give an option of which dialer to use, and the user selected ring central instead of hubspot.  I dont have this option.

[2020-10-05 14:00] TobiasLicker opened #229 "Auto sync not for new contact?"
If I understand correctly, the call log would auto sync only if the contacts are already in Hubspot with name and email, correct?

 If a potential new client calls, it is not synced automatically, the agent would have to add name and email to the phone number in order to add it to Hubspot contacts, correct?

Would it be possible to auto sync all incoming calls first to Deals for example so that it

[2020-10-13 15:10] Wuggles14 opened #230 "Contacts with the same number assigned, creates multiple call activities"
Hi,
We have a situation where having pulled info from an old CRM, where there aren't individual phone numbers for contacts, the company number is associated to each contact (as well as the company)

Meaning that when a call is made to a contact, then the call is logged from ACO/Ring to Hubspot, it creates multiple call logs against each of the contacts that have the same number assigned

Wondering

[2020-10-13 15:22] zxdong262 commented on #230
@Wuggles14 It is true that call log function would match with phone number, so every contacts with the same number will get the call log, it is designed to do so, not a bug, so if you want to avoid this, better clean the contacts' phone prop, you can contact HubSpot to see if they can provide a script or something to help you clean the contacts numbers.

[2020-10-14 08:28] Naghiyev1 opened #231 "Call logging against all the contacts in the same company"
It is important for our sales team to find a viable calling solution that works with Hubspot. We have been using and selling Avaya/RingCentral for a number of years and have found a big issue with this integration.

When you call one person on the company record it automatically logs call against all the contacts in the same company. It creates problems for reporting as the data is not accurate an

[2020-10-19 01:49] zxdong262 commented on #231
@Naghiyev1 Do these contacts have same number, if so it is expected, call log will sync to all contacts with caller or callee's number, so if you want to avoid some contacts to be logged, make sure the conatcts do not have the duplicate number.

[2020-10-19 07:56] Naghiyev1 commented on #231
@zxdong262 Yes, this is the exact reason why it's happening but unfortunately, it's not a suitable solution for us as we want to keep the numbers as they are. I wonder if it would be possible to add 'if then' statement to the component to avoid registering duplicates.

[2020-10-21 16:25] JanBilton opened #232 "Auto sync not syncing"
Hi - I have auto-sync enabled, but after I've made a call, unless I stay on the contact page it won't sync.  In addition, if I stay on the contact page, after about 20 seconds the sync prompt appears.  If I click sync on that, it works, or if I leave it to count down it also logs the call.  Doesn't auto-sync log the call immediately?

[2020-10-29 20:42] eringallagher1411 commented on #231
I'm having the same issue.  I have 8 people in a queue for incoming calls.  They all have separate phones, but take calls coming in to the main line.  When it logs, it shows multiple people logging calls.

[2020-11-02 12:57] KDLN opened #233 "Req/Ask SMS Logged as Call / type"
Is there a way to log texts as SMS vs Note? Our marketing uses that in reports and helps decide and drive some marketing based on contacts made or received, and SMS as a note does not count and let them see it reported correctly.

![image](https://user-images.githubusercontent.com/17499497/97870435-f98dbd80-1ce0-11eb-9d06-1b78471d1633.png)

[2020-11-05 02:16] zxdong262 commented on #233
@KDLN Currently can not support it, because SMS is not a built-in type

[2020-11-05 02:18] zxdong262 commented on #232
@JanBilton Can not log immediately becasue server have to process it, it may take some time, when there is recording, it may take more time. Also the countdown phase provide a chance to select result

[2020-11-05 09:30] JanBilton commented on #232
Thanks.  However there are instances, although not every time, where the call doesn't log at all.

[2020-11-05 13:47] KDLN commented on #233
Ah sorry did not realize that was custom. Is there a way to log it in there with a numbered index that lines up with custom call types?

[2020-11-06 01:42] zxdong262 commented on #233
@KDLN Maybe later, planning a major update to add a setting panel, we could add a select for user to choose custom type.

[2020-11-06 13:21] KDLN commented on #233
Well if you need help testing that feature would love to help there. Thanks for the reply.

[2020-11-06 13:21] #233 closed

[2020-11-24 19:11] dylyman opened #235 "No audio output on calls"
We recently installed the RC extension in our HubSpot instance and users have been reporting intermittent issues with receiving call audio. The other end of the call will be speaking but the user cannot hear anything. This issue doesn't seem to be effecting every call but when it happens the audio is 100% missing for the entire call.

The browser extension does not have the same issues, only comes

[2020-11-24 19:16] dylyman commented on #235
Have also confirmed with users and my in my own testing that the system audio output was set to system speaker/headset as expected.

[2020-11-25 13:21] zxdong262 commented on #235
@dylyman Issue do exist, most likely related to backend service, not related to integration, need time to confirm.

[2020-11-26 06:34] embbnux commented on #235
@dylyman Can you share your area. It may be network issue in some area.

[2020-11-26 16:31] dylyman commented on #235
Sure, team is generally located in Toronto (Canada) area. We're all remote though so network conditions vary. If it helps I've included my results from RC's [QoS test](https://www.ringcentral.ca/support/qos.html), as of this morning.

<img width="500" alt="20201126 RTT" src="https://user-images.githubusercontent.com/74986362/100374691-a60a4900-2fda-11eb-9e42-30c02957d3c1.png">
<img width="250" alt

[2020-11-30 02:14] embbnux commented on #235
@zxdong262  Does browser extension and embedded one use same Embeddable version.

If browser extension and embedded one using same version, it should a bug in Chrome's iframe audio.

[2020-11-30 02:31] zxdong262 commented on #235
@embbnux HubSpot embedded one load from github, so always latest, the latest browser extension use 11.19 version

[2020-11-30 02:40] zxdong262 commented on #235
@embbnux @dylyman HubSpot embedded one should be same as https://ringcentral.github.io/ringcentral-embeddable/, you can try it, I can not reproduce the issue yet, tried many times.

[2020-11-30 02:53] zxdong262 commented on #235
@embbnux Also, it is running in a iframe in both situations

[2020-11-30 22:41] dylyman commented on #235
Strange, team mate just had the issue crop up again. Exact same problem; other end of the call is speaking and can be heard on the recording but RC user can't hear anything. This was with the HS-embedded dialer.

If we manage to catch the bug "live" is there anything we can share with you? A debug log or something.

[2020-12-01 00:47] zxdong262 commented on #235
@dylyman I do not know yet, since I never catch the issue, and could be issue from websocket, so may not catch any issue from log.

[2020-12-01 19:06] dylyman commented on #235
OK have two users confirming that they consistently experiencing this issue. Both report it happening intermittently and randomly impacting calls with no changes on their end. Trying various headsets and audio output options doesn't fix it.

A third user doesn't seem to be having this issue, is there anything worth checking with his setup? Chrome version, OS version, extension version, etc.?

[2020-12-02 00:25] zxdong262 commented on #235
@dylyman It would be great to see all the env difference, maybe we can find out the key factor.

[2020-12-02 16:24] dylyman commented on #235
Here are the user agents:

**With Issues**

**No reported issues so far**

[2020-12-03 07:35] embbnux commented on #235
The voice transmission is handled by WebRTC protocol  from Browser. So it is hard to track the log. Can you let users who has this issue happened to test their network when they are facing voice lost.

[2020-12-03 18:20] dylyman commented on #235
Which test would you recommend?

[2020-12-07 06:50] embbnux commented on #235
Qos test from RingCentral is ok https://www.ringcentral.ca/support/qos.html . We should test it when we were facing the issue.

[2020-12-18 14:43] KDLN opened #237 "Request Add Recording Link back into description."
I have had more success of the recording working with the direct link vs the play head version for Hubspot. It on all calls is stuck in loading and when you click the pop-out it gets stuck in a "please log in" loop.

![image](https://user-images.githubusercontent.com/17499497/102626842-58828700-4115-11eb-8a98-ffd62e0c12f2.png)
![image](https://user-images.githubusercontent.com/17499497/102626855-5

[2020-12-18 15:43] #237 closed

[2021-01-12 21:42] twasheck opened #238 "doubling call logs"
If there are contacts with different email addresses but the same phone number, when the call logs are synced, it syncs one call for each contact in the entire database that has the same phone number. so one phone call can be logged 4+times.

[2021-01-13 00:23] zxdong262 commented on #238
It is designed like this @twasheck

[2021-01-13 00:25] zxdong262 commented on #238
The app would not know which is the one you want to sync the call log, you can mannully call the phone number in any RingCentral device, can you merge the contact with some number into one contact?

[2021-01-13 14:35] twasheck commented on #238
I did that once I found out some of the contacts had multiple entries

On Tue, Jan 12, 2021 at 6:25 PM ZHAO Xudong <notifications@github.com>
wrote:

[2021-01-14 01:33] tohagan opened #239 "feat: Only sync contacts in a selected contact list"
The current code appears to always [fetch ALL contacts](https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/blob/master/src/feat/contacts.js#L256) .  My team has a large number of contact in HubSpot (>100k) most of which are historical so syncing them all is rather pointless.

Of much greater use would be the ability to sync only the contacts in a selected HubSpot Contact List.  Us

[2021-01-14 01:59] zxdong262 commented on #239
@tohagan I will add this to todo list, before it is done, you could do is that finish syncing all once, it would not auto sync all any more, you can choose sync only new/updated contacts next time.

[2021-01-14 01:59] #239 closed

[2021-01-14 02:06] tohagan commented on #239
Yes I understand this.  We also have privacy/security concerns about syncing all contacts into every user's browser.

[2021-01-14 02:09] tohagan commented on #239
BTW ... Does this app sync contacts into RC servers OR only to local browser?

[2021-01-14 02:13] zxdong262 commented on #239
@tohagan Only to browser database

[2021-01-20 13:30] KDLN commented on #232
Having the same issue, the sync does not even pop up for me 90% of the time. Then it tries to sync and shows up sometimes a day or two later. Even refreshing contacts and running a test in the am does not work.

[2021-01-20 16:28] twasheck opened #240 "not logging calls to hubspot"
with this new update, it is not logging calls to hubspot and is not giving me the option to do it manually. The option has also been removed from settings. This is integral to my business, please advise.

[2021-01-20 16:32] #240 closed

[2021-01-20 16:32] twasheck commented on #240
it was in id10t error. apologies

[2021-01-21 04:52] zxdong262 commented on #232
@KDLN @JanBilton Make sure new contacts are synced to widgets.

[2021-02-23 18:16] twasheck opened #241 "aut sync asking for contact after every call"
After I make a call and RC attempts to sync the call with hubspot I am prompted to select which contact, either myself or the contact I called. This happens after every call.

[2021-02-24 00:40] zxdong262 commented on #241
Only show selection when multi contacts have caller or callee's number.

You can disable this feature by turn on "Auto sync call/message log to all matched contact(do not show selection)" in settings.

Also you may try remove yourself from HubSpot contact and resync all contacts data:

<img width="1077" alt="Screen Shot 2021-02-24 at 8 38 30 AM" src="https://user-images.githubusercontent.com/16419

[2021-02-24 17:48] twasheck commented on #241
apologies, I am having a hard time understanding what you are asking and
how it relates to the image.

On Tue, Feb 23, 2021 at 6:40 PM ZHAO Xudong <notifications@github.com>
wrote:

[2021-02-24 22:42] twasheck commented on #241
In order to log every call, I have to manually select which contact...how
do I "remove myself from HubSpot contact and resync all contacts data:"

On Wed, Feb 24, 2021 at 11:48 AM Travis Washeck <twasheck@gmail.com> wrote:

[2021-02-25 00:03] zxdong262 commented on #241
Let's say user call with numberA to numberB, a contact C has numberA, contact D and contact E has numberB, when you hung up call, it will sync call log to contact C, D, E, because they either have caller's number or callee's number,

also since there are multi contacts to sync calll log to, by default it will ask which one user want to sync to, if user do not want to choose, be OK with sync to C,

[2021-02-25 16:32] twasheck commented on #241
When I try to manually sync the call this will come up which is normal
[image: sync.png]

Then I have the option to choose the contact, the bottom option being the
client I was trying to get ahold of.

[image: choose.png]

If I select "auto sync call/message log to all matched contact (do not show
selection)"

[image: image.png]

and I log the call it is not logged under the proper contact, it is

[2021-03-01 18:18] twasheck commented on #241
please advise

On Thu, Feb 25, 2021 at 10:32 AM Travis Washeck <twasheck@gmail.com> wrote:

[2021-03-01 23:32] zxdong262 commented on #241
@twasheck Can we have a meeting to check it? If so, please send email to drake.zhao@ringcentral.com, with your available time and timezone.

[2021-03-04 18:25] KDLN opened #243 "Texts not logging as note/wont manually log when clicked."
I am on the latest update.
I have synced all contacts.
It is syncing as RingCentral text some of the time but I can not click manually log to log texts as notes.

[2021-03-04 23:50] zxdong262 commented on #243
Can we have a meeting to check it next week? If so, please send an email to drake.zhao@ringcentral.com with your available time and timezone.

[2021-03-26 19:27] brandoaustin opened #247 "Contacts not syncing"
My contacts sync from the Hubspot to the Chrome widget, but they don't sync to the rest of my RingCentral apps.

Any help on this?

[2021-03-26 19:29] brandoaustin opened #248 "Doubling up of logged SMS"
Anyone else experiencing a TON of logged SMS and it keeps re-logging the same SMS?

I think the developer should add a "24hrs" text in addition to the 5minutes option so that all SMS in the last 24hrs show and get logged on the app.

5 minutes is too short, but it's either 5 minutes or forever!